<template lang="pug">
  div( v-if="value", :class="$style.Menu", :style="rootStyles" )
    slot( :close="close" )
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import Button from '@/views/components/forms/buttons/Button.vue';

interface Styles {
  [key: string]: string;
}

@Component({
  name: 'Menu',
  components: {
    Button,
  },
})
export default class MenuComponent extends Vue {
  @Prop()
  public topOffset!: string;

  @Prop()
  public value!: boolean;

  @Watch('value')
  public onValueChange(value: boolean) {
    if (value) {
      document.body.classList.add('mobile-menu-active');
    } else {
      document.body.classList.remove('mobile-menu-active');
    }
  }

  get rootStyles() {
    const styles: Styles = {};

    if (this.topOffset) {
      styles.top = this.topOffset;
    }

    return styles;
  }

  public close() {
    this.$emit('input', false);
  }
}
</script>

<style lang="sass" module>
  .Menu
    position: fixed
    z-index: $z-index-mobile-menu
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $brand-color-mobile-menu-background
    overflow: auto

</style>
<style lang="sass">
  .mobile-menu-active
    height: 100vh
    overflow: hidden
    +media-breakpoint-up(lg)
      overflow: auto
      height: auto
</style>
