<template lang="pug">
  Button( :class="$style.Toggler", theme="plain", @click="toggle" )
    i( v-if="!value", class="mdi mdi-menu" )
    i( v-else, class="mdi mdi-close" )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Button from '@/views/components/forms/buttons/Button.vue';


@Component({
  name: 'Toggler',
  components: {
    Button,
  },
})
export default class TogglerComponent extends Vue {
  @Prop()
  public value!: boolean;

  public toggle() {
    this.$emit('input', !this.value);
  }
}
</script>

<style lang="sass" module>
  .Toggler
    font-size: 24px
    line-height: 1
    padding-left: 0.375rem
    padding-right: 0.375rem
</style>
