<template lang="pug">
  div( :class="[$style.Card, hasNoBackground ? $style.noBackground : null]" )
    div( v-if="$slots.header", :class="$style.header" )
      slot( name="header",  )
    div( v-if="$slots.content", :class="$style.content" )
      slot( name="content" )
    div( v-if="$slots.footer", :class="$style.footer"  )
      slot( name="footer" )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'Card',
})
export default class CardComponent extends Vue {
  @Prop()
  public noBackground!: any;

  get hasNoBackground() {
    return this.noBackground != null;
  }
}
</script>

<style lang="sass" module>
  .Card
    background-color: $brand-color-card-background
    box-shadow: $brand-box-shadow-card
    border-radius: 8px
    &.noBackground
      background: none
      box-shadow: none
      border-radius: 0

  .header

  .content
</style>
