<template lang="pug">
  div( :class="classes" )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'CardContent',
})
export default class CardContentComponent extends Vue {
  @Prop()
  public noPaddingX!: any;

  @Prop()
  public noPaddingY!: any;

  @Prop()
  public paddingVariant!: string;

  get classes() {
    const list = [this.$style.CardContent];

    if (this.noPaddingX != null) {
      list.push(this.$style.noPaddingX);
    }

    if (this.noPaddingY != null) {
      list.push(this.$style.noPaddingY);
    }

    if (this.paddingVariant != null) {
      list.push(this.$style[`paddingVariant_${this.paddingVariant}`]);
    }

    return list;
  }
}
</script>

<style lang="sass" module>
  .CardContent
    padding: 16px
    &.paddingVariant_m
      padding: 25px 16px
      +media-breakpoint-up(lg)
        padding: 25px 20px
    &.noPaddingX
      padding-left: 0
      padding-right: 0
    &.noPaddingY
      padding-bottom: 0
      padding-top: 0
</style>
