<template lang="pug">
  div( :class="[$style.CardFooter, $style[position]]" )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'CardFooter',
})
export default class CardFooterComponent extends Vue {
  @Prop({ default: 'center' })
  public position!: string;
}
</script>

<style lang="sass" module>
  .CardFooter
    border-top: 1px solid $brand-color-break-line
    padding: 21px 16px 28px
    +media-breakpoint-up(lg)
      padding-top: 25px
      padding-bottom: 34px

  .center
    text-align: center

  .left
    text-align: left

  .right
    text-align: right
</style>
