<template lang="pug">
  h5( :class="classes" )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'CardTitle',
})
export default class CardTitleComponent extends Vue {
  @Prop({ default: 'center' })
  public position!: string;

  @Prop()
  public noPaddingY!: any;

  get classes() {
    const list = [this.$style.CardTitle, this.$style[this.position]];

    if (this.noPaddingY != null) {
      list.push(this.$style.noPaddingY);
    }

    return list;
  }
}
</script>

<style lang="sass" module>
  .CardTitle
    font-family: $brand-font-family-fira-sans-sans-serif
    color: $brand-color-bold-text
    font-size: 24px
    line-height: 36px
    margin: 0
    padding: 27px 0 12px
    +media-breakpoint-up(lg)
      padding: 39px 0 28px
    &.noPaddingY
      padding-bottom: 0
      padding-top: 0

  .center
    text-align: center

  .left
    text-align: left

  .right
    text-align: right
</style>
