<template lang="pug">
  div( :class="$style.Benefits" )
    LayoutWithBackToLink( pointer-theme="ice", @pointer-click="onPointerClick" )
      template( slot="pointerContentDesktop" ) К рейтингу
      template( slot="pointerContentMobile" ) К рейтингу
      template( slot="content" )
        Alert(
          :show.sync="globalErrorShow",
          theme="danger-bold",
          dismissible,
          icon,
          m-mr="1t"
        ) {{ globalError }}
        Card( no-background )
          CardTitle( slot="header", no-padding-y ) Список привилегий
          CardContent( slot="content", no-padding-y )
            SuggestBenefit( m-mr="2t" )
            BenefitsList( :benefits="privilegesViewList", :class="$style.list" )
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator';
import LayoutWithBackToLink from '@/views/components/content/LayoutWithBackToLink.vue';
import BenefitsList, {BenefitsListData} from '@/views/components/content/BenefitsList.vue';
import Card from '@/views/components/card/Card.vue';
import CardTitle from '@/views/components/card/CardTitle.vue';
import CardContent from '@/views/components/card/CardContent.vue';
import Alert from '@/views/components/alerts/Alert.vue';
import {namespace} from 'vuex-class';
import {Privilege} from '@/services/Models/Privilege';
import GlobalErrorsMixin from '@/views/mixins/global-errors';
import SuggestBenefit from '@/views/components/content/SuggestBenefit.vue';


const PrivilegesNS = namespace('privileges');

@Component({
  name: 'Benefits',
  components: {
    SuggestBenefit,
    Card,
    CardTitle,
    CardContent,
    LayoutWithBackToLink,
    BenefitsList,
    Alert,
  },
  metaInfo: {
    title: 'Список привилегий',
  },
})
export default class BenefitsPage extends Mixins(GlobalErrorsMixin) {
  @PrivilegesNS.State('list')
  public privileges!: Privilege[];

  @PrivilegesNS.Action('fetch')
  public fetchPrivileges!: () => Promise<Privilege[]>;

  get privilegesViewList(): BenefitsListData {
    const list = this.privileges.map((item: Privilege) => ({
      score: item.price,
      description: item.name,
    }));

    return list;
  }

  public onPointerClick() {
    this.$router.push('my-rating');
  }

  public async created() {
    try {
      await this.fetchPrivileges();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке списка привилегий';
    }
  }
}
</script>

<style lang="sass" module>
  .Benefits

  .list
    margin-top: 20px
    +media-breakpoint-up(lg)
      margin-top: 48px
</style>
