<template lang="pug">
  div( :class="$style.CreateIdea" )
    .container
      Alert(
        :show.sync="globalErrorShow",
        theme="danger-bold",
        dismissible,
        icon,
        m-mr="1t"
      ) {{ globalError }}
      Alert(
        :show.sync="globalSuccessShow",
        theme="success-bold",
        dismissible,
        icon,
        m-mr="1t"
      ) {{ globalSuccess }}
      ResponsiveHeader( variant="3", font="fira", m-tal="ce", :class="$style.topTitle") Подайте идею на конкурс
      Card( :class="$style.card" )
        CardContent( slot="content", padding-variant="m" )
          .row
            .col-auto
              Select(
                v-model="requestForm.categoryId",
                requireFlag
                label="Тема цифровизации",
                :disabled="ideaCategoriesMeta.loading",
                :valid-flag="requestFormErrors.categoryId.flag",
                :invalid-text="requestFormErrors.categoryId.error"
              )
                option( :value="''" ) Выбрать
                option( v-for="(item) in ideaCategories", :value="item.id", :key="item.id" ) {{ item.name }}
              Button( theme="link", size="sm", @click="modals.categoriesHelper = true" ) Справка по тематикам
      Card( :class="$style.card" )
        CardContent( slot="content", padding-variant="m" )
          TextField(
            label="Описание технологии",
            requireFlag,
            v-model="requestForm.text",
            minlength="200",
            maxlength="5000",
            max-length-indicator,
            :valid-flag="requestFormErrors.text.flag",
            :invalid-text="requestFormErrors.text.error"
          )
          TextField(
            label="Ожидаемый эффект",
            requireFlag,
            v-model="requestForm.effect",
            minlength="200",
            maxlength="5000",
            max-length-indicator,
            :valid-flag="requestFormErrors.effect.flag",
            :invalid-text="requestFormErrors.effect.error"
          )
          TextField(
            label="Место в производственном процессе",
            requireFlag,
            v-model="requestForm.processStage",
            minlength="200",
            maxlength="5000",
            max-length-indicator,
            :valid-flag="requestFormErrors.processStage.flag",
            :invalid-text="requestFormErrors.processStage.error"
          )
          TextField(
            label="Источник",
            requireFlag,
            v-model="requestForm.source",
            minlength="5",
            maxlength="5000",
            max-length-indicator,
            :valid-flag="requestFormErrors.source .flag",
            :invalid-text="requestFormErrors.source .error"
          )
      Card( :class="$style.card" )
        CardContent( slot="content", padding-variant="m" )
          h5( :class="$style.expertsTitle" ) Порекомендуйте экспертов
          .row
            .col-sm-6
              SelectExpert(
                :options="expertsOptions",
                v-model="requestForm.expert1",
                label="Эксперт 1",
                :valid-flag="requestFormErrors.expert1.flag",
                :invalid-text="requestFormErrors.expert1.error"
              )
            .col-sm-6
              SelectExpert(
                :options="expertsOptions",
                v-model="requestForm.expert2",
                label="Эксперт 2",
                :valid-flag="requestFormErrors.expert2.flag",
                :invalid-text="requestFormErrors.expert2.error"
              )
      Card( :class="$style.card" )
        CardContent( slot="content", padding-variant="m" )
          p( :class="$style.attachmentsTitle" ) Вложения
          FilesDashboard( v-model="requestForm.files" )
          UploadArea( v-model="files", :maximum="10", :size="40 * 1024 * 1024" )
          div( m-mr="1t", :class="$style.LoadButton")
            Button( size="xlg", block, :disabled="requestForm.files.length === 0", @click="tryLoadFiles" ) Загрузить
      Card( :class="$style.card" )
        CardContent( slot="content", padding-variant="m" )
          Checkbox( requireFlag, v-model="requestForm.agreement",  )
            | С
            |
            Button( theme="link", font="opensans", @click="modals.rulesAndPolicy = true" ) правилами и условиями
            |
            | участия в проекте ознакомлен
      div( m-tal="ce", :class="$style.actionButtons" )
        Button(
          size="xlg",
          :disabled="disableSendRequest",
          @click="sendRequest"
        ) Сохранить как черновик
        Button(
          size="xlg",
          :disabled="disableSendRequest",
          @click="sendRequestOnModeration"
        ) Отправить на модерацию

    b-modal( v-model="modals.rulesAndPolicy", ok-only, size="lg" )
      RulesAndPolicyText
    b-modal( v-model="modals.categoriesHelper", ok-only, size="lg" )
      CategoriesHelperText
</template>

<script lang="ts">
import {Component, Vue, Mixins, Watch} from 'vue-property-decorator';
import Card from '@/views/components/card/Card.vue';
import CardTitle from '@/views/components/card/CardTitle.vue';
import CardContent from '@/views/components/card/CardContent.vue';
import CardFooter from '@/views/components/card/CardFooter.vue';
import Select from '@/views/components/forms/fields/Select.vue';
import Input from '@/views/components/forms/fields/Input.vue';
import TextField from '@/views/components/forms/fields/TextField.vue';
import Checkbox from '@/views/components/forms/fields/Checkbox.vue';
import SelectExpert, { ExpertOption } from '@/views/components/forms/fields/SelectExpert.vue';
import FormInline from '@/views/components/forms/FormInline.vue';
import ResponsiveHeader from '@/views/components/content/ResponsiveHeader.vue';
import ExpertPreview from '@/views/components/content/ExpertPreview.vue';
import Button from '@/views/components/forms/buttons/Button.vue';
import UploadArea from '@/views/components/forms/upload/UploadArea.vue';
import FilesDashboard, { InternalFile } from '@/views/components/forms/upload/FilesDashboard.vue';
import {namespace} from 'vuex-class';
import {IdeaCategory} from '../../services/Models/IdeaCategory';
import GlobalErrorsMixin from '@/views/mixins/global-errors';
import GlobalSuccessMixin from '@/views/mixins/global-success';
import Alert from '@/views/components/alerts/Alert.vue';
import {StateMeta as IdeaCategoriesMeta} from '@/store/modules/ideaCategories';
import {StateMeta as ExpertsMeta} from '@/store/modules/experts';
import {Expert} from '../../services/Models/Expert';
import {File} from '../../services/Models/File';
import {uploadFile} from '../../services/Api/modules/data';
import {CreateIdeaModel} from '@/services/Models/CreateIdea';
import RulesAndPolicyText from '../components/content/RulesAndPolicyText.vue';
import CategoriesHelperText from '../components/content/CategoriesHelperText.vue';
import {ErrorModel} from '../../services/Api/models/Error';
import {FieldsErrors, generateFormMixin} from '../mixins/form';


const IdeaCategoriesNS = namespace('ideaCategories');
const ExpertsNS = namespace('experts');

export interface CreateIdeaForm {
  categoryId: string;
  text: string;
  effect: string;
  processStage: string;
  source: string;
  files: InternalFile[];
  expert1: ExpertOption | null;
  expert2: ExpertOption | null;
  agreement: boolean;
}

interface Modals {
  rulesAndPolicy: boolean;
  categoriesHelper: boolean;
}

const formMixin = generateFormMixin<CreateIdeaForm, any>(
  'requestForm',
  {
    categoryId: '',
    text: '',
    effect: '',
    processStage: '',
    source: '',
    files: [],
    agreement: false,
    expert1: null,
    expert2: null,
  }
);

@Component({
  name: 'CreateIdea',
  components: {
    CategoriesHelperText,
    RulesAndPolicyText,
    Card,
    CardContent,
    Select,
    ResponsiveHeader,
    FormInline,
    Button,
    TextField,
    ExpertPreview,
    SelectExpert,
    UploadArea,
    FilesDashboard,
    Checkbox,
    Alert,
  },
  metaInfo: {
    title: 'Подача заявки',
  },
})
export default class CreateIdeaPage extends Mixins(GlobalErrorsMixin, GlobalSuccessMixin, formMixin) {
  @IdeaCategoriesNS.State('meta')
  public ideaCategoriesMeta!: IdeaCategoriesMeta;

  @IdeaCategoriesNS.State('list')
  public ideaCategories!: IdeaCategory[];

  @ExpertsNS.State('meta')
  public expertsMeta!: ExpertsMeta;

  @ExpertsNS.State('list')
  public experts!: Expert[];

  public files: VUFile[] = [];

  public modals: Modals = {
    rulesAndPolicy: false,
    categoriesHelper: false,
  };

  // defs
  requestForm!: CreateIdeaForm;
  requestFormErrors!: FieldsErrors;
  resetRequestFromErrors(): void {};
  resetRequestForm(): void {};
  globalError!: string;
  globalSuccess!: string;

  get expertsOptions(): ExpertOption[] {
    const list = this.experts.map((item: Expert) => ({
      id: item.id,
      firstName: item.first_name,
      lastName: item.last_name,
      description: item.description,
    }));

    if (this.requestForm.expert1) {
      const id = this.requestForm.expert1.id;
      list.splice(list.findIndex((obj) => obj.id === id), 1);
    }
    if (this.requestForm.expert2) {
      const id = this.requestForm.expert2.id;
      list.splice(list.findIndex((obj) => obj.id === id), 1);
    }

    return list;
  }

  get disableSendRequest() {
    return (
      !this.requestForm.agreement
      || !this.requestForm.text
      || !this.requestForm.effect
      || !this.requestForm.processStage
      || !this.requestForm.source
      || !this.requestForm.categoryId
    );
  }

  @IdeaCategoriesNS.Action('fetch')
  public fetchIdeaCategories!: () => Promise<IdeaCategory[]>;

  @ExpertsNS.Action('fetch')
  public fetchExperts!: () => Promise<Expert[]>;

  @Watch('files', { deep: true })
  public onFilesChange(files: VUFile[]) {
    if (files.length !== this.requestForm.files.length) {
      let copy = Array.from(this.requestForm.files);

      copy = copy.filter((item) => item.vufile ? files.includes(item.vufile) : false);

      for (const file of files) {
         const found = copy.find((item) => item.vufile === file);

         if (!found) {
           copy.push({
             vufile: file,
             uploaded: null,
             loading: false,
             success: false,
             error: '',
           });
         }
      }

      this.requestForm.files = copy;
    }
  }

  @Watch('requestForm.files', {deep: true})
  public onFormFilesChange(files: InternalFile[]) {
    if (files.length !== this.files.length) {
      let copy = Array.from(this.files);

      copy = copy.filter((item) => files.find((_item) => _item.vufile === item));

      this.files = copy;
    }
  }

  public collectRequestData() {
    const data = {
      text: this.requestForm.text,
      effect: this.requestForm.effect,
      process_stage: this.requestForm.processStage,
      source: this.requestForm.source,
      category_id: this.requestForm.categoryId,
      experts: (
        ([this.requestForm.expert1, this.requestForm.expert2])
          .filter(Boolean)
          .map((expert) => (expert as ExpertOption).id) as number[]
      ),
      files: (
        this.requestForm.files
          .filter((file) => file.success)
          .map((file) => ((file as InternalFile).uploaded as File).id) as number[]
      ),
    };

    return data;
  }

  public async tryLoadFiles() {
    const list = this.requestForm.files;

    if (!list.length) return;

    try {
      for (const file of list) {
        if (file.success || !file.vufile) continue;

        try {
          file.loading = true;

          const uploadResult = await uploadFile([file.vufile.file]);

          file.uploaded = uploadResult[0];
          file.loading = false;
          file.success = true;
        } catch (error) {
          file.error = 'Ошибка загрузки';
        }
      }
    } catch (e) {
      console.log(e);
    }
  }

  // save as draft
  public async sendRequest() {
    const data = this.collectRequestData();

    try {
      const result = await this.$services.User.createIdea(new CreateIdeaModel(data));

      this.resetForm();
      this.resetErrors();
      this.globalSuccess = 'Заявка успешно создана';
      this.$router.push(`/edit-idea/${result.id}`);
    } catch (e) {
      this.processError(e);
    }
  }

  // send on moderation
  public async sendRequestOnModeration() {
    const data = this.collectRequestData();

    try {
      const result = await this.$services.User.createIdeaAndSendOnModeration(new CreateIdeaModel(data));

      this.resetForm();
      this.resetErrors();
      this.globalSuccess = 'Заявка успешно создана';
      this.$router.push('/my-ideas');
    } catch (e) {
      this.processError(e);
    }
  }

  resetForm() {
    this.files = [];
    this.resetRequestForm();
  }

  resetErrors() {
    this.globalError = '';
    this.resetRequestFromErrors();
  }

  processError(e: ErrorModel) {
    this.resetErrors();

    this.globalError = e.message;

    const keys = Object.keys(e.additional);
    const items = this.requestFormErrors;

    for (let key of keys) {
      const originKey = key;
      switch (key) {
        case 'process_stage':
          key = 'processStage';
          break;
        case 'category_id':
          key = 'categoryId';
          break;
      }

      items[key].flag = false;
      items[key].error = e.additional[originKey];
    }
  }

  public async created() {
    try {
      await this.fetchIdeaCategories();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке категорий идей компаний';
    }

    try {
      await this.fetchExperts();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке списка экспертов';
    }
  }
}
</script>

<style lang="sass" module>
  .CreateIdea

  .topTitle
    padding-top: 39px
    padding-bottom: 16px
    +media-breakpoint-up(lg)
      padding-top: 64px
      padding-bottom: 48px

  .card + .card
    margin-top: 20px
    +media-breakpoint-up(lg)
      margin-top: 30px

  .expertsTitle
    font-size: 20px
    font-family: $brand-font-family-fira-sans-sans-serif
    color: $brand-color-bold-text
    line-height: 20px
    font-weight: bold
    padding-bottom: 24px

  .attachmentsTitle
    font-size: 14px

  .actionButtons
    margin-top: 48px
    & > button + button
      margin-top: 12px
    > button
      display: block
      width: 100%
    +media-breakpoint-up(lg)
      & > button + button
        margin-left: 12px
        margin-top: 0
      > button
        width: auto
        display: inline-block

  .LoadButton
    button
      width: auto
      margin: auto
</style>
