<template lang="pug">
  .error-page
    h1 Error has occurred
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'ErrorPage',
  metaInfo: {
    title: 'Ошибка',
  },
})
export default class ErrorPage extends Vue {

}
</script>

<style lang="sass">
  /*@import '~@/assets/sass/_env/import'*/
</style>
