<template lang="pug">
  div( :class="$style.Expertise" )
    .container
      Alert(
        :show.sync="globalErrorShow",
        theme="danger-bold",
        dismissible,
        icon,
        m-mr="1t"
      ) {{ globalError }}
      Alert(
        :show.sync="globalSuccessShow",
        theme="success-bold",
        dismissible,
        icon,
        m-mr="1t"
      ) {{ globalSuccess }}
    .container
      div( :class="$style.content" )
        .row( :class="$style.filters" )
          .col-sm-4
            ResponsiveSelect( class="row", v-model="internalFilters.selectedCategory", :select-custom-classes="['col-sm-12']" )
              option( :value="''" ) Все тематики
              option( v-for="(item) in ideaCategories", :value="item.id", :key="item.id" ) {{ item.name }}
          .col-sm-4
            date-picker(
              class="datePicker",
              v-model="internalFilters.dateRange",
              range,
              :shortcuts="false",
              confirm-text="Применить",
              confirm,
              lang="ru"
            )

      div( :class="$style.content" )
        IdeaPreview(
          v-for="(idea, idx) in ideasForView",
          max-length="150",
          :class="$style.idea",
          :idea="idea",
          :key="idx",
        )
        VueInfiniteLoading(
          @infinite="infiniteHandler",
          ref="infiniteLoading"
        )
          span( slot="no-more" )
        div( v-if="ideasMeta.completedLoading && ideasForView.length === 0", m-tal="ce" ) Нет заявок на оценку
</template>

<script lang="ts">
  import {Component, Vue, Mixins, Watch} from 'vue-property-decorator';
  import IdeaPreview, {IdeaPreviewData} from '@/views/components/content/IdeaPreview.vue';
  import {IdeaCategory} from '@/services/Models/IdeaCategory';
  import {ExpertiseIdeaFilters} from '@/services/Expertise/vuex/modules/ideas';
  import { namespace } from 'vuex-class';
  import {RawLocation, Route} from 'vue-router';
  import {Idea, IdeaModel} from '@/services/Models/Idea';
  import GlobalErrorsMixin from '@/views/mixins/global-errors';
  import GlobalSuccessMixin from '@/views/mixins/global-success';
  import Alert from '@/views/components/alerts/Alert.vue';
  import moment from 'moment';
  import ResponsiveSelect from '@/views/components/forms/fields/ResponsiveSelect.vue';
  import DatePicker from '@/views/components/forms/DatePicker.vue';
  import {StateMeta as IdeasMeta} from '../../services/Expertise/vuex/modules/ideas';
  import {IdeaInternal} from '../../services/Models/Idea';
  import VueInfiniteLoading from "vue-infinite-loading";
  import cloneDeep from 'lodash/cloneDeep';


  interface InfiniteLoadingState {
    complete(): void;
    loaded(): void;
  }

  const UserNS = namespace('user');
  const ExpertiseIdeasNS  = namespace('expertise/ideas');
  const IdeaCategoriesNS = namespace('ideaCategories');

  @Component({
    name: 'Expertise',
    components: {
      IdeaPreview,
      Alert,
      ResponsiveSelect,
      DatePicker,
      VueInfiniteLoading,
    },
    metaInfo: {
      title: 'Экспертиза',
    },
  })
  export default class MyIdeasPage extends Mixins(GlobalErrorsMixin, GlobalSuccessMixin) {
    @ExpertiseIdeasNS.State('meta')
    public ideasMeta!: IdeasMeta;

    @ExpertiseIdeasNS.State('list')
    public ideas!: IdeaInternal[];

    @ExpertiseIdeasNS.State('filters')
    public filters!: ExpertiseIdeaFilters;

    @IdeaCategoriesNS.State('list')
    public ideaCategories!: IdeaCategory[];

    @UserNS.Getter('isRoleExpert')
    public isRoleExpert!: boolean;

    @ExpertiseIdeasNS.Action('fetchNext')
    public fetchNext!: () => Promise<IdeaInternal[]>;

    @ExpertiseIdeasNS.Action('setFilters')
    public setFilters!: (filters: ExpertiseIdeaFilters) => Promise<void>;

    @IdeaCategoriesNS.Action('fetch')
    public fetchIdeaCategories!: () => Promise<IdeaCategory[]>;

    internalFilters: ExpertiseIdeaFilters = {
      selectedCategory: null,
      dateRange: []
    };
    syncingFilters = false;

    @Watch('filters', {deep: true, immediate: true})
    public onFiltersChange(filters: ExpertiseIdeaFilters) {
      this.syncingFilters = true;
      this.internalFilters = cloneDeep(filters);
      this.$nextTick(() => this.syncingFilters = false);
    }

    @Watch('internalFilters', {deep: true})
    public async onInternalFiltersChange(filters: ExpertiseIdeaFilters) {
      if (this.syncingFilters) return;

      await this.setFilters(filters);
      this.resetInfiniteLoading();
    }

    get ideasForView() {
      return this.ideas.map((idea: IdeaInternal) => ({
        theme: idea.category ? idea.category.name : null,
        link: `/expertise/${idea.id}`,
        text: idea.text,
        effect: idea.effect,
        processStage: idea.process_stage,
        source: idea.source,
        status: idea.status,
        time: moment(idea.created_at).format('DD.MM.YYYY'),
      }));
    }

    async fetchNextInternal() {
      try {
        await this.fetchNext();
      } catch (e) {
        this.globalError = e.message;
      }
    }

    resetInfiniteLoading() {
      if (this.$refs.infiniteLoading != null) {
        (this.$refs.infiniteLoading as Vue).$emit("$InfiniteLoading:reset");
      }
    }

    async infiniteHandler($state: InfiniteLoadingState) {
      try {
        await this.fetchNextInternal();

        const done = this.ideasMeta.completedLoading;

        if (done) {
          if ($state) {
            return $state.complete();
          }
          return;
        }
      } catch (e) {
        console.log(e);
      } finally {
        if ($state) {
          $state.loaded();
        }
      }
    }

    public async routerHook() {
      if (!this.isRoleExpert) {
        return this.$router.push('/not-found');
      }

      this.resetGlobalError();
      this.resetGlobalSuccess();

      try {
        await this.fetchIdeaCategories();
      } catch (e) {
        this.globalError = 'Произошла ошибка при загрузке категорий';
      }
    }

    public beforeRouteEnter(to: Route, from: Route, next: (to?: RawLocation | false | ((vm: Vue) => any) | void) => void) {
      next(async (vm) => {
        await (vm as MyIdeasPage).routerHook();
      });
    }

    public async beforeRouteUpdate() {
      await this.routerHook();
    }
  }
</script>

<style lang="sass" module>
  .Expertise

    .content
      max-width: 670px
      margin: 0 auto
      padding-top: 36px

    .idea + .idea
      margin-top: 30px

    .filters
      justify-content: space-between

</style>
