<template lang="pug">
  div( :class="$style.Login" )
    .container
      div( :class="$style.content" )
        div( :class="$style.topBlock" )
        h1( :class="$style.title" ) Банк идей
        h2( :class="$style.subTitle" ) Придумывайте идеи. <br> TMX поможет их реализовать
        Card
          CardContent( slot="content", no-padding-y )
            div( :class="$style.hello")
              h3( :class="$style.helloTitle" ) A Brief History Of Creation
              p()
              | The preservation of humen life is the ultimate value, a pillar
              | of ethics and the foundation of all morality. This held true in
              | most cultures and societies throughout history.

              h3( :class="$style.helloTitle" ) Low Cost Advertising
              p()
              | There are many ways to market a product or a service and providing
              | the potential clients and customers with testimonials is one of
              | the best ways to market

              div( :class="$style.buttons" )
                Button( type="router-link" size="xlg", block, to="/registration") Регистрация
                Button( type="router-link" size="xlg", block, to="/login" theme="outline") Вход
</template>

<script lang="ts">
import { Component, Vue, Watch, Mixins } from 'vue-property-decorator';
import Card from '@/views/components/card/Card.vue';
import CardTitle from '@/views/components/card/CardTitle.vue';
import CardContent from '@/views/components/card/CardContent.vue';
import Button from '@/views/components/forms/buttons/Button.vue';
import Alert from '@/views/components/alerts/Alert.vue';
import {RawLocation, Route} from 'vue-router';
import { namespace } from 'vuex-class';

const UserNS = namespace('user');

@Component({
  name: 'Home',
  components: {
    Card,
    CardTitle,
    CardContent,
    Button,
    Alert,
  },
  metaInfo: {
    title: 'Вход',
  },
})
export default class HomePage extends Vue {

  @UserNS.Getter('isRoleModerator')
  public isUserRoleModerator!: boolean;

  @UserNS.Getter('isAuth')
  public isUserAuth!: boolean;


  public async routerHook() {
    if (this.isUserAuth) {
      return this.$router.push('/my-ideas');
    }
  }

  public beforeRouteEnter(to: Route, from: Route, next: (to?: RawLocation | false | ((vm: Vue) => any) | void) => void) {
    next(async (vm) => {
      await (vm as HomePage).routerHook();
    });
  }

  public async beforeRouteUpdate() {
    await this.routerHook();
  }
}
</script>

<style lang="sass" module>
  .Login

  .content
    max-width: 571px
    margin: 0 auto

  .topBlock
    padding-top: 16px
    padding-bottom: 32px

  .title
    font-weight: bold
    text-align: center
    font-size: 2rem
    padding-top: 20px
    +media-breakpoint-up(sm)
      margin-bottom: 40px
      font-size: 2.5rem

  .subTitle
    text-align: center
    color: grey
    margin-bottom: 20px
    font-size: 1.2rem
    +media-breakpoint-up(sm)
      margin-bottom: 40px
      font-size: 2rem

  .hello
    padding: 20px 10px
    +media-breakpoint-up(lg)
      padding: 40px
    +media-breakpoint-up(xl)
      padding: 50px 60px

  .helloTitle
    margin-top: 10px
    font-weight: 400

  .buttons
    margin-top: 20px


</style>
