<template lang="pug">
  div( :class="$style.IdeasForAdmins" )
    .container
      Alert(
        :show.sync="globalErrorShow",
        theme="danger-bold",
        dismissible,
        icon,
        m-mr="1t"
      ) {{ globalError }}
      Alert(
        :show.sync="globalSuccessShow",
        theme="success-bold",
        dismissible,
        icon,
        m-mr="1t"
      ) {{ globalSuccess }}
    .container
      div( :class="$style.contentFilters" )
        .row( :class="$style.filters" )
          .col-sm-3
            ResponsiveSelect( class="row", v-model="internalFilters.selectedCategory", :select-custom-classes="['col-sm-12']")
              option( :value="''" ) Все тематики
              option( v-for="(item) in ideaCategories", :value="item.id", :key="item.id" ) {{ item.name }}
          .col-sm-3
            ResponsiveSelect( class="row", v-model="internalFilters.selectedStatus", :select-custom-classes="['col-sm-12']")
              option( :value="''" ) Все статусы
              option( v-for="(item) in ideaStatuses", :value="item.id", :key="item.id" ) {{ item.name }}
          .col-sm-3
            .form-group
              date-picker(
                class="datePicker",
                v-model="internalFilters.dateRange",
                range,
                :shortcuts="false",
                confirm-text="Применить",
                confirm,
                lang="ru"
              )
          .col-sm-3
            .form-group
              div( :class="$style.search" )
                ResponsiveInput(
                  class="row",
                  placeholder="Поиск...",
                  type="search",
                  :value="internalFilters.searchRequest",
                  @input="debounceSearch"
                )

      div( :class="$style.content" )
        IdeaPreview(
          v-for="(idea, idx) in ideasForView",
          max-length="150",
          :class="$style.idea",
          :idea="idea",
          :key="idx",
        )
        VueInfiniteLoading(
          @infinite="infiniteHandler",
          ref="infiniteLoading"
        )
          span( slot="no-more" )
            div( v-if="ideasMeta.completedLoading && ideasForView.length === 0", m-tal="ce" ) Нет заявок
</template>

<script lang="ts">
  import {Component, Vue, Mixins, Watch} from 'vue-property-decorator';
  import IdeaPreview, {IdeaPreviewData} from '@/views/components/content/IdeaPreview.vue';
  import {IdeaCategory} from '@/services/Models/IdeaCategory';
  import {IdeaStatus} from '@/services/Models/IdeaStatus';
  import {AdminsIdeaFilters} from '@/services/Admins/vuex/modules/ideas';
  import {namespace} from 'vuex-class';
  import {Idea, IdeaModel} from '@/services/Models/Idea';
  import {RawLocation, Route} from 'vue-router';
  import GlobalErrorsMixin from '@/views/mixins/global-errors';
  import GlobalSuccessMixin from '@/views/mixins/global-success';
  import Alert from '@/views/components/alerts/Alert.vue';
  import moment from 'moment';
  import ResponsiveSelect from '@/views/components/forms/fields/ResponsiveSelect.vue';
  import ResponsiveInput from '@/views/components/forms/fields/ResponsiveInput.vue';
  import DatePicker from '@/views/components/forms/DatePicker.vue';
  import debounce from 'lodash/debounce';
  import cloneDeep from 'lodash/cloneDeep';
  import {IdeaInternal} from '@/services/Models/Idea';
  import VueInfiniteLoading from "vue-infinite-loading";
  import {StateMeta as IdeasMeta} from '../../services/Admins/vuex/modules/ideas';
  import {STATUSES} from '@/services/Models/IdeaStatus';
  import {RouteNextCallback} from '../../globals';

  interface InfiniteLoadingState {
    complete(): void;
    loaded(): void;
  }

  const UserNS = namespace('user');
  const AdminsIdeasNS = namespace('admins/ideas');
  const IdeaCategoriesNS = namespace('ideaCategories');

  @Component({
    name: 'IdeasForAdmins',
    components: {
      IdeaPreview,
      Alert,
      ResponsiveSelect,
      DatePicker,
      ResponsiveInput,
      VueInfiniteLoading,
    },
    metaInfo: {
      title: 'Заявки',
    },
  })
  export default class IdeasForAdminsPage extends Mixins(GlobalErrorsMixin, GlobalSuccessMixin) {
    @AdminsIdeasNS.State('meta')
    public ideasMeta!: IdeasMeta;

    @AdminsIdeasNS.State('list')
    public ideas!: IdeaInternal[];

    @AdminsIdeasNS.State('filters')
    public filters!: AdminsIdeaFilters;

    @IdeaCategoriesNS.State('list')
    public ideaCategories!: IdeaCategory[];

    public ideaStatuses = STATUSES;

    @UserNS.Getter('isRoleAdministrator')
    public isRoleAdministrator!: boolean;

    @AdminsIdeasNS.Action('fetchNext')
    public fetchNext!: () => Promise<IdeaInternal[]>;

    @AdminsIdeasNS.Action('setFilters')
    public setFilters!: (filters: AdminsIdeaFilters) => Promise<void>;

    @IdeaCategoriesNS.Action('fetch')
    public fetchIdeaCategories!: () => Promise<IdeaCategory[]>;

    internalFilters: AdminsIdeaFilters = {
      selectedCategory: null,
      dateRange: [],
      selectedStatus: null,
      searchRequest: null,
    };
    syncingFilters = false;

    @Watch('filters', {deep: true, immediate: true})
    public onFiltersChange(filters: AdminsIdeaFilters) {
      this.syncingFilters = true;
      this.internalFilters = cloneDeep(filters);
      this.$nextTick(() => this.syncingFilters = false);
    }

    @Watch('internalFilters', {deep: true})
    public async onInternalFiltersChange(filters: AdminsIdeaFilters) {
      if (this.syncingFilters) return;

      await this.setFilters(filters);
      this.resetInfiniteLoading();
    }

    get ideasForView() {
      return this.ideas.map((idea: IdeaInternal) => ({
        theme: idea.category ? idea.category.name : null,
        link: `/idea-admin/${idea.id}`,
        text: idea.text,
        status: idea.status,
        time: moment(idea.created_at).format('DD.MM.YYYY'),
      }));
    }

    public async routerHook() {
      if (!this.isRoleAdministrator) {
        return this.$router.push('/not-found');
      }

      try {
        await this.fetchIdeaCategories();
      } catch (e) {
        this.globalError = 'Произошла ошибка при загрузке категорий';
      }
    }

    public beforeRouteEnter(to: Route, from: Route, next: RouteNextCallback) {
      next(async (vm) => {
        await (vm as IdeasForAdminsPage).routerHook();
      });
    }

    public async beforeRouteUpdate() {
      await this.routerHook();
    }

    public async onSearch(request: string) {
      this.internalFilters.searchRequest = request;
    }

    async fetchNextInternal() {
      try {
        await this.fetchNext();
      } catch (e) {
        this.globalError = e.message;
      }
    }

    resetInfiniteLoading() {
      if (this.$refs.infiniteLoading != null) {
        (this.$refs.infiniteLoading as Vue).$emit("$InfiniteLoading:reset");
      }
    }

    async infiniteHandler($state: InfiniteLoadingState) {
      try {
        await this.fetchNextInternal();

        const done = this.ideasMeta.completedLoading;

        if (done) {
          if ($state) {
            return $state.complete();
          }
          return;
        }
      } catch (e) {
        console.log(e);
      } finally {
        if ($state) {
          $state.loaded();
        }
      }
    }

    public debounceSearch = debounce(async (request) => {
      await this.onSearch(request);
    }, 600);
  }
</script>

<style lang="sass" module>
  .IdeasForAdmins

    .content
      max-width: 670px
      margin: 0 auto
      padding-top: 36px

    .contentFilters
      margin: 0 auto
      padding-top: 36px

    .idea + .idea
      margin-top: 30px

    .filters
      justify-content: space-between

    .search
      input
        height: 40px
        padding-right: 2.25em
        padding-left: 10px !important
        border: 1px solid #c5c5c5
        &:focus
          box-shadow: none
          border: 1px solid #c5c5c5

      span
        height: 100% !important
        left: auto !important
        right: 0

</style>
