<template lang="pug">
  div( :class="$style.Login" )
    .container
      div( :class="$style.content" )
        div( :class="$style.topBlock" )
          Alert(
            :show.sync="globalErrorShow",
            theme="danger-bold",
            dismissible,
            icon
          ) {{ globalError }}
        Card
          CardTitle( slot="header" ) Вход
          CardContent( slot="content", no-padding-y )
            div( :class="$style.form" )
              Input(
                placeholder="Логин*",
                v-model="loginForm.login"
                :class="$style.formInput",
                :valid-flag="loginErrors.login.flag",
                :invalid-text="loginErrors.login.errorText"
                @keyup.enter="tryLogin"
              )
              Input(
                placeholder="Пароль*",
                v-model="loginForm.password",
                :class="$style.formInput",
                type="password",
                :valid-flag="loginErrors.password.flag",
                :invalid-text="loginErrors.password.errorText"
                @keyup.enter="tryLogin"
              )
              div
                router-link( to="/reset-password" ) Забыли пароль?
              div( :class="$style.actionBlock" )
                Button( size="xlg", block, @click="tryLogin" ) Войти
          CardFooter( slot="footer" )
            | Нет аккаунта?
            |
            router-link( to="/registration" ) Зарегистрировать
</template>

<script lang="ts">
import { Component, Vue, Watch, Mixins } from 'vue-property-decorator';
import Card from '@/views/components/card/Card.vue';
import CardTitle from '@/views/components/card/CardTitle.vue';
import CardContent from '@/views/components/card/CardContent.vue';
import CardFooter from '@/views/components/card/CardFooter.vue';
import Input from '@/views/components/forms/fields/Input.vue';
import Button from '@/views/components/forms/buttons/Button.vue';
import Alert from '@/views/components/alerts/Alert.vue';
import LoginMixin from '@/views/mixins/login';

@Component({
  name: 'Login',
  components: {
    Card,
    CardTitle,
    CardContent,
    CardFooter,
    Input,
    Button,
    Alert,
  },
  metaInfo: {
    title: 'Вход',
  },
})
export default class LoginPage extends Mixins(LoginMixin) {
}
</script>

<style lang="sass" module>
  .Login

  .content
    max-width: 571px
    margin: 0 auto

  .topBlock
    padding-top: 16px
    padding-bottom: 32px
    +media-breakpoint-up(lg)
      min-height: 258px

  .form
    margin: 0 auto
    padding-bottom: 20px
    +media-breakpoint-up(lg)
      max-width: 260px

  .formInput + .formInput
    margin-top: 11px
    +media-breakpoint-up(lg)
      margin-top: 23px

  .actionBlock
    margin-top: 20px
    +media-breakpoint-up(lg)
      margin-top: 32px
</style>
