<template lang="pug">
  div( :class="$style.MyIdeas" )
    .container
      div( :class="$style.content" )
        IdeaPreview(
          v-for="(idea, idx) in ideasForView",
          max-length="150",
          :class="$style.idea",
          :idea="idea",
          :key="idx",
        )
        VueInfiniteLoading(
          @infinite="infiniteHandler",
          ref="infiniteLoading"
        )
          span( slot="no-more" )
        div( v-if="ideasMeta.completedLoading && ideasForView.length === 0", m-tal="ce" ) Вы не подавали ни одной заявки
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import IdeaPreview, {IdeaPreviewData} from '@/views/components/content/IdeaPreview.vue';
import { namespace } from 'vuex-class';
import {Idea} from '../../services/Models/Idea';
import moment from 'moment';
import {StateMeta as IdeasMeta} from '@/services/User/vuex/modules/ideas';
import {IdeaInternal} from '@/services/Models/Idea';
import VueInfiniteLoading from "vue-infinite-loading";


interface InfiniteLoadingState {
  complete(): void;
  loaded(): void;
}

const MyIdeasNS  = namespace('user/ideas');

@Component({
  name: 'MyIdeas',
  components: {
    IdeaPreview,
    VueInfiniteLoading,
  },
  metaInfo: {
    title: 'Мои заявки',
  },
})
export default class MyIdeasPage extends Vue {
  @MyIdeasNS.State('meta')
  public ideasMeta!: IdeasMeta;

  @MyIdeasNS.State('list')
  public ideas!: IdeaInternal[];

  get ideasForView() {
    const list =  this.ideas.map((idea: IdeaInternal) => ({
      theme: idea.category ? idea.category.name : null,
      link: `/idea/${idea.id}`,
      text: idea.text,
      effect: idea.effect,
      processStage: idea.process_stage,
      source: idea.source,
      status: idea.status,
      time: moment(idea.created_at).format('DD.MM.YYYY'),
    }));

    return list;
  }

  @MyIdeasNS.Action('fetchNext')
  public fetchNext!: (userId: string | number) => Promise<IdeaInternal[]>;

  async fetchNextInternal() {
    try {
      const userId = this.$services.User.id();

      await this.fetchNext(userId);
    } catch (e) {
      console.log(e);
    }
  }

  resetInfiniteLoading() {
    if (this.$refs.infiniteLoading != null) {
      (this.$refs.infiniteLoading as Vue).$emit("$InfiniteLoading:reset");
    }
  }

  async infiniteHandler($state: InfiniteLoadingState) {
    try {
      await this.fetchNextInternal();

      const done = this.ideasMeta.completedLoading;

      if (done) {
        if ($state) {
          return $state.complete();
        }
        return;
      }
    } catch (e) {
      console.log(e);
    } finally {
      if ($state) {
        $state.loaded();
      }
    }
  }
}
</script>

<style lang="sass" module>
  .MyIdeas

  .content
    max-width: 670px
    margin: 0 auto
    padding-top: 36px

  .idea + .idea
    margin-top: 30px
</style>
