<template lang="pug">
  div( :class="$style.Notifications" )
    .container( m-pd="1.75t" )
      Notifications( :list="notificationsViewData", @close="onCloseNotification", no-delimiter )
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {namespace} from 'vuex-class';
import {Notification} from '../../services/User/vuex/modules/notifications';
import Notifications, {NotificationItem} from '@/views/components/content/Notifications.vue';


const UserNotificationsNS = namespace('user/notifications');

@Component({
  name: 'NotificationsPage',
  components: {
    Notifications,
  },
})
export default class NotificationsPage extends Vue {
  @UserNotificationsNS.State('list')
  public notifications!: Notification[];

  get notificationsViewData(): NotificationItem[] {
    return this.notifications
      .map((item) => {
        if (item.type === 'idea') {
          return {
            id: item.id,
            title: item.title,
            content: item.content,
            link: item.object_id == null ? '/my-ideas' : `/idea/${item.object_id}`,
            linkType: 'router-link',
          };
        } else if (item.type === 'rating') {
          return {
            id: item.id,
            title: item.title,
            content: item.content,
          };
        }
      })
      .filter(Boolean) as NotificationItem[];
  }

  @UserNotificationsNS.Action('markAsViewed')
  public markAsViewed!: (payload: { id: string, userId: string }) => Promise<void>;

  public async onCloseNotification(id: string) {
    await this.markAsViewed({ id, userId: this.$services.User.id() });
  }
}
</script>

<style lang="sass" module>
  .Notifications
</style>
