<template lang="pug">
  div( :class="$style.Profile" )
    .container
      div( :class="$style.content" )
        div( :class="$style.topBlock" )
          Alert(
            :show.sync="globalErrorShow",
            theme="danger-bold",
            dismissible,
            icon
          ) {{ globalError }}
          Alert(
            :show.sync="globalSuccessShow",
            theme="success-bold",
            dismissible,
            icon
          ) {{ globalSuccess }}
        Card( no-background )
          CardTitle( slot="header" ) Профиль
          CardContent( slot="content", :class="$style.cardContent", no-padding-y )
            div( :class="[$style.form, $style['has-limit']]", m-pd="0.75t" )
              div( :class="$style.avatarContainer" )
                img( :src="avatarUrl", alt="Photo" )
              div( m-tal="ce", m-mr="0.75t" )
                Button( theme="outline", m-fnt="0.75s!", m-pd="1h! 0.5v!", @click="uploadPhotoModal.show = true" ) Загрузить новое изображение
                div
                  Button( v-if="userDataForm.avatarUrl", theme="link", m-fnt="0.75s!", @click="deleteAvatar" ) Удалить
            div( :class="[$style.form]" )
              ResponsiveInput(
                class="row",
                placeholder="Иванов",
                label="Фамилия",
                requireFlag
                v-model="userDataForm.lastName",
                :input-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.lastName.flag",
                :invalid-text="userDataErrors.lastName.errorText"
                @keyup.enter="save"
              )
              ResponsiveInput(
                class="row",
                placeholder="Иван",
                label="Имя",
                requireFlag
                v-model="userDataForm.firstName",
                :input-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.firstName.flag",
                :invalid-text="userDataErrors.firstName.errorText"
                @keyup.enter="save"
              )
              ResponsiveInput(
                class="row",
                placeholder="Иванович",
                label="Отчество",
                requireFlag
                v-model="userDataForm.middleName",
                :input-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.middleName.flag",
                :invalid-text="userDataErrors.middleName.errorText"
                @keyup.enter="save"
              )
              ResponsiveInput(
                class="row",
                placeholder="ivanov@email.com",
                label="Email",
                type="email",
                requireFlag
                v-model="userDataForm.email",
                :input-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.email.flag",
                :invalid-text="userDataErrors.email.errorText"
                @keyup.enter="save"
              )
              ResponsiveInput(
                class="row",
                placeholder="+7 (800) 000-000-00",
                label="Телефон",
                requireFlag
                v-model="userDataForm.phone",
                :input-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.phone.flag",
                :invalid-text="userDataErrors.phone.errorText"
                @keyup.enter="save"
              )
              ResponsiveSelect(
                class="row",
                label="Предприятие",
                v-model="userDataForm.companyId",
                :select-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.companyId.flag",
                :invalid-text="userDataErrors.companyId.errorText",
                :disabled="companiesMeta.loading"
                @keyup.enter="save"
              )
                option( :value="''" ) Выбрать
                option( v-for="item in companies", :value="item.id", :key="item.id" ) {{ item.name }}
              ResponsiveSelect(
                class="row",
                label="Должность",
                v-model="userDataForm.jobId",
                :select-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.jobId.flag",
                :invalid-text="userDataErrors.jobId.errorText",
                :disabled="jobsMeta.loading"
                @keyup.enter="save"
              )
                option( :value="''" ) Выбрать
                option( v-for="item in jobs", :value="item.id", :key="item.id" ) {{ item.name }}
              ResponsiveInput(
                class="row",
                placeholder="3",
                label="Стаж, лет",
                v-model="userDataForm.workExperience",
                :input-custom-classes="['col-8 col-sm-9', $style.input]",
                :label-custom-classes="['col-4 col-sm-3', $style.label]",
                :class="$style.formInput",
                :valid-flag="userDataErrors.workExperience.flag",
                :invalid-text="userDataErrors.workExperience.errorText"
                @keyup.enter="save"
              )
              div( :class="[$style.form, $style['has-limit']]" )
                div( :class="$style.actionBlock" )
                  Button( size="xlg", block, @click="save" ) Сохранить

    b-modal( v-model="uploadPhotoModal.show", @ok="tryUploadPhoto" )
      div( v-if="uploadPhotoModal.showError", m-pd="1b" )
        Alert(
          :show.sync="uploadPhotoModal.showError",
          theme="danger",
          dismissible,
          icon
        ) {{ uploadPhotoModal.error }}
      VueCropper(
        v-if="uploadPhotoModal.imgSrc",
        ref='cropper',
        :guides="true",
        :view-mode="2",
        drag-mode="crop",
        :auto-crop-area="0.5",
        :min-container-width="250",
        :min-container-height="180",
        :background="true",
        :rotatable="true",
        :src="uploadPhotoModal.imgSrc",
        alt="Photo",
        :img-style="{ 'width': '400px', 'height': '300px' }",
      )
      b-form-file(
        v-model="uploadPhotoModal.file",
        accept="image/*",
        placeholder="Выберите фото"
      )
</template>

<script lang="ts">
import { Component, Vue, Watch, Mixins } from 'vue-property-decorator';
import Card from '@/views/components/card/Card.vue';
import CardTitle from '@/views/components/card/CardTitle.vue';
import CardContent from '@/views/components/card/CardContent.vue';
import CardFooter from '@/views/components/card/CardFooter.vue';
import Input from '@/views/components/forms/fields/Input.vue';
import ResponsiveInput from '@/views/components/forms/fields/ResponsiveInput.vue';
import ResponsiveSelect from '@/views/components/forms/fields/ResponsiveSelect.vue';
import Button from '@/views/components/forms/buttons/Button.vue';
import Alert from '@/views/components/alerts/Alert.vue';
import GlobalErrorsMixin from '@/views/mixins/global-errors';
import GlobalSuccessMixin from '@/views/mixins/global-success';
import UserDataMixin from '@/views/mixins/user-data';
import VueCropper from 'vue-cropperjs';
import {uploadFile} from '../../services/Api/modules/data';
import {namespace} from 'vuex-class';
import {StateAccount} from '../../services/User/vuex/index';
import {File as FileInterface} from '../../services/Models/File';
import {UserModel} from '../../services/Models/User.js';
import {UserUpdateModel} from '../../services/Models/UserUpdate';
import {Company} from '../../services/Models/Company';
import {StateMeta as CompaniesStateMeta} from '@/store/modules/companies';
import {StateMeta as JobsStateMeta} from '@/store/modules/jobs';
import {Job} from '../../services/Models/Job';
import cropperjs from 'cropperjs';

const CompaniesNS = namespace('companies');
const JobsNS = namespace('jobs');
const UserNS = namespace('user');

interface UploadModalData {
  show: boolean;
  file: null | File;
  imgSrc: string;
  error: string;
  showError: boolean;
}

@Component({
  name: 'Profile',
  components: {
    Card,
    CardTitle,
    CardContent,
    CardFooter,
    ResponsiveInput,
    Input,
    ResponsiveSelect,
    Button,
    Alert,
    VueCropper,
  },
  metaInfo: {
    title: 'Профиль',
  },
})
export default class ProfilePage extends Mixins(GlobalErrorsMixin, GlobalSuccessMixin, UserDataMixin) {
  @UserNS.State('account')
  public userAccount!: StateAccount;

  @CompaniesNS.State('list')
  public companies!: Company[];

  @CompaniesNS.State('meta')
  public companiesMeta!: CompaniesStateMeta;

  @JobsNS.State('list')
  public jobs!: Job[];

  @JobsNS.State('meta')
  public jobsMeta!: JobsStateMeta;

  public uploadPhotoModal: UploadModalData = {
    show: false,
    file: null,
    imgSrc: '',
    error: '',
    showError: false,
  };

  public uploadedAvatar: null | FileInterface = null;

  get avatarUrl() {
    if (this.userDataForm.avatarUrl) {
      return this.userDataForm.avatarUrl;
    }

    return '/img/noAvatar.svg';
  }

  @Watch('userAccount', { deep: true, immediate: true })
  public onUserAccountChange(data: StateAccount) {
    const form = {
      avatarUrl: data.photo,
      lastName: data.last_name,
      firstName: data.first_name,
      middleName: data.middle_name,
      email: data.email,
      phone: data.phone,
      companyId: data.company_id ? String(data.company_id) : '',
      jobId: data.job_id ? String(data.job_id) : '',
      workExperience: data.work_experience ? String(data.work_experience) : '',
    };

    this.userDataForm = form;
  }

  @Watch('uploadPhotoModal.file')
  public onFileChoose(file: File) {
    this.uploadPhotoModal.error = '';

    if (!file.type.includes('image/')) {
      this.uploadPhotoModal.error = 'Выберите изображение';
      return;
    }

    if (typeof FileReader === 'function') {
      const reader: FileReader = new FileReader();

      reader.onload = (event: ProgressEvent) => {
        const result = (event.target as FileReader).result;

        this.uploadPhotoModal.imgSrc = result as string;
        this.$nextTick(() => (this.$refs.cropper as any).replace(result));
      };

      reader.readAsDataURL(file);
    } else {
      this.uploadPhotoModal.error = 'Платформа не поддерживает данную операцию';
    }
  }

  @CompaniesNS.Action('fetch')
  public fetchCompanies!: () => Promise<Company[]>;

  @JobsNS.Action('fetch')
  public fetchJobs!: () => Promise<Job[]>;

  public async tryUploadPhoto() {
    const croppedImageSrc = this.uploadPhotoModal.imgSrc;

    if (!croppedImageSrc) return;

    try {
      const canvas = (this.$refs.cropper as (Vue & cropperjs)).getCroppedCanvas() as HTMLCanvasElement;
      const toBlobPromise = new Promise((resolve) => canvas.toBlob((result) => resolve(result as Blob), 'image/png')) as Promise<Blob>;
      const blob: Blob = await toBlobPromise as Blob;
      const file = new File([blob], 'avatar.png', { type: 'image/png' });
      const uploadedFile = await uploadFile([file]);

      this.uploadedAvatar = uploadedFile[0];
      this.userDataForm.avatarUrl = this.uploadedAvatar.file_url;
    } catch (e) {
      console.log(e);
      this.globalError = 'Ошибка загрузки фото';
    }
  }

  public async save() {
    const data = {
      first_name: this.userDataForm.firstName,
      last_name: this.userDataForm.lastName,
      middle_name: this.userDataForm.middleName,
      email: this.userDataForm.email,
      company_id: this.userDataForm.companyId ? parseInt(this.userDataForm.companyId) : undefined,
      job_id: this.userDataForm.jobId ? parseInt(this.userDataForm.jobId) : undefined,
      phone: this.userDataForm.phone,
      photo: this.userDataForm.avatarUrl || null,
      work_experience: this.userDataForm.workExperience ? parseInt(this.userDataForm.workExperience) : undefined,
    };

    try {
      const result = await this.$services.User.updateAccount(new UserUpdateModel(data));

      this.uploadedAvatar = null;

      this.globalSuccess = 'Данные успешно сохранены';
    } catch (e) {
      if (e.message) {
        this.globalError = e.message;
      }

      if (e.additional) {
        for (const field in e.additional) {
          const errors = e.additional[field];
          let normilized = field;

          switch (field) {
            case 'job_id':
              normilized = 'jobId';
            case 'photo':
              normilized = 'avatarUrl';
              break;
            case 'company_id':
              normilized = 'companyId';
              break;
            case 'first_name':
              normilized = 'firstName';
              break;
            case 'last_name':
              normilized = 'lastName';
              break;
            case 'middle_name':
              normilized = 'middleName';
              break;
            case 'work_experience':
              normilized = 'workExperience';
              break;
          }

          this.setUserDataError(normilized, errors);
        }
      }
    }
  }

  public deleteAvatar() {
    this.userDataForm.avatarUrl = '';
  }

  public async created() {
    try {
      await this.fetchCompanies();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке списка компаний';
    }

    try {
      await this.fetchJobs();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке списка должностей';
    }
  }
}
</script>

<style lang="sass" module>
  .Profile

  .content
    width: 100%
    max-width: 571px
    margin: 0 auto
    +media-breakpoint-up(lg)
      padding-left: 15px
      padding-right: 15px

  .topBlock
    padding-top: 8px
    padding-bottom: 8px

  .form
    margin: 0 auto
    padding-bottom: 20px
    +media-breakpoint-up(lg)
      &.has-limit
        max-width: 260px

  .formInput + .formInput
    margin-top: 11px
    +media-breakpoint-up(lg)
      margin-top: 23px

  .actionBlock
    margin-top: 20px
    +media-breakpoint-up(lg)
      margin-top: 32px

  .input
    padding-left: 0
    +media-breakpoint-up(lg)
      padding-right: 0
      max-width: 260px

  .label
    font-size: 14px
    text-align: right
    +media-breakpoint-up(lg)
      font-size: 16px
      flex-basis: 141px
      max-width: 141px

  .avatarContainer
    text-align: center
    > img
      vertical-align: top
      width: 96px
      height: 96px
      border-radius: 50%

  .cardContent
    padding-left: 0
    padding-right: 0
    +media-breakpoint-up(lg)
      padding-left: 15px
      padding-right: 15px
</style>
