<template lang="pug">
  div( :class="$style.Registration" )
    div( :class="$style.leftSide" )
      div( v-if ="showBackToStep", :class="[$style.backToStep, 'd-none', 'd-lg-block']" )
        BackTo( @click="backToStep" ) Назад
    div( :class="$style.content" )
      div( :class="$style.topBlock" )
        Alert(
          :show.sync="globalErrorShow",
          theme="danger-bold",
          dismissible,
          icon
        ) {{ globalError }}
        ResponsiveHeader( m-tal="ce", :class="$style.promoTitle" ) Банк идей
        ResponsiveSubHeaderText( m-tal="ce" top-padding )
          | Придумывайте идеи.
          br
          | ТМХ поможет их реализовать
      div( v-if ="showBackToStep", class="d-lg-none", m-pd="0.5b" )
        BackTo( @click="backToStep" ) Назад
      Card( v-if="!isRegistrationAvailable" )
        Alert(
          :show="true",
          theme="danger-bold",
          icon,
          slot="content"
        ) Регистрация в данный момент закрыта
      Card( v-else )
        CardTitle( v-if="page < 2", slot="header" ) Регистрация
        CardTitle( v-if="page === 2", slot="header" ) Спасибо за регистрацию!
        CardContent( v-if="page === 0", slot="content", no-padding-y )
          div( :class="[$style.form]" )
            ResponsiveInput(
              class="row",
              placeholder="Иванов",
              label="Фамилия",
              requireFlag
              v-model="userDataForm.lastName",
              :input-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.lastName.flag",
              :invalid-text="userDataErrors.lastName.errorText"
              @keyup.enter="tryRegister"
            )
            ResponsiveInput(
              class="row",
              placeholder="Иван",
              label="Имя",
              requireFlag
              v-model="userDataForm.firstName",
              :input-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.firstName.flag",
              :invalid-text="userDataErrors.firstName.errorText"
              @keyup.enter="tryRegister"
            )
            ResponsiveInput(
              class="row",
              placeholder="Иванович",
              label="Отчество",
              requireFlag
              v-model="userDataForm.middleName",
              :input-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.middleName.flag",
              :invalid-text="userDataErrors.middleName.errorText"
              @keyup.enter="tryRegister"
            )
            ResponsiveInput(
              class="row",
              placeholder="ivanov@email.com",
              label="Email",
              requireFlag
              type="email",
              v-model="userDataForm.email",
              :input-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.email.flag",
              :invalid-text="userDataErrors.email.errorText"
              @keyup.enter="tryRegister"
            )
            ResponsiveInput(
              class="row",
              placeholder="+7 (800) 000-000-00",
              label="Телефон",
              requireFlag
              v-model="userDataForm.phone",
              :input-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.phone.flag",
              :invalid-text="userDataErrors.phone.errorText"
              @keyup.enter="tryRegister"
            )
            div( :class="[$style.form, $style['has-limit']]" )
              div( :class="$style.actionBlock" )
                Button( size="xlg", block, @click="page++" ) Продолжить
        CardContent( v-if="page === 1", slot="content", no-padding-y )
          div( :class="[$style.form]" )
            ResponsiveSelect(
              class="row",
              label="Предприятие",
              requireFlag
              v-model="userDataForm.companyId",
              :select-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.companyId.flag",
              :invalid-text="userDataErrors.companyId.errorText",
              :disabled="companiesMeta.loading"
              @keyup.enter="tryRegister"
            )
              option( :value="''" ) Выбрать
              option( v-for="item in companies", :value="item.id", :key="item.id" ) {{ item.name }}
            ResponsiveSelect(
              class="row",
              label="Должность",
              requireFlag
              v-model="userDataForm.jobId",
              :select-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.jobId.flag",
              :invalid-text="userDataErrors.jobId.errorText",
              :disabled="jobsMeta.loading"
              @keyup.enter="tryRegister"
            )
              option( :value="''" ) Выбрать
              option( v-for="item in jobs", :value="item.id", :key="item.id" ) {{ item.name }}
            ResponsiveInput(
              class="row",
              placeholder="3",
              label="Стаж, лет",
              requireFlag
              v-model="userDataForm.workExperience",
              :input-custom-classes="['col-8 col-sm-9', $style.input]",
              :label-custom-classes="['col-4 col-sm-3', $style.label]",
              :class="$style.formInput",
              :valid-flag="userDataErrors.workExperience.flag",
              :invalid-text="userDataErrors.workExperience.errorText"
              @keyup.enter="tryRegister"
            )
            div( :class="[$style.form, $style['has-limit']]" )
              div( :class="$style.actionBlock" )
                Button( size="xlg", block, @click="tryRegister" ) Зарегистрироваться
        CardContent( v-if="page === 2", slot="content", no-padding-y )
          div( :class="[$style.form, $style['has-limit']]" )
            p( m-tal="ce" )
              | В течение 2 минут вам на электронную почту {{ userDataForm.email }}
              |
              | придет письмо с логином и паролем. Используйте их для входа в систему
            Input(
              placeholder="Логин*",
              v-model="loginForm.login",
              :valid-flag="loginErrors.login.flag",
              :invalid-text="loginErrors.login.errorText"
            )
            Input(
              placeholder="Пароль*",
              v-model="loginForm.password",
              type="password",
              :valid-flag="loginErrors.password.flag",
              :invalid-text="loginErrors.password.errorText"
            )
            div( :class="$style.actionBlock" )
              Button( size="xlg", block ) Войти
        CardFooter( v-if="page < 2", slot="footer" )
          | Уже есть аккаунт?
          |
          router-link( to="/login" ) Войти
    div( :class="$style.rightSide" )
</template>

<script lang="ts">
import { Component, Vue, Watch, Mixins} from 'vue-property-decorator';
import Card from '@/views/components/card/Card.vue';
import CardTitle from '@/views/components/card/CardTitle.vue';
import CardContent from '@/views/components/card/CardContent.vue';
import CardFooter from '@/views/components/card/CardFooter.vue';
import Input from '@/views/components/forms/fields/Input.vue';
import ResponsiveInput from '@/views/components/forms/fields/ResponsiveInput.vue';
import ResponsiveSelect from '@/views/components/forms/fields/ResponsiveSelect.vue';
import Button from '@/views/components/forms/buttons/Button.vue';
import Alert from '@/views/components/alerts/Alert.vue';
import ResponsiveHeader from '@/views/components/content/ResponsiveHeader.vue';
import ResponsiveSubHeaderText from '@/views/components/content/ResponsiveSubHeaderText.vue';
import GlobalErrorsMixin from '@/views/mixins/global-errors';
import LoginMixin from '@/views/mixins/login';
import BackTo from '@/views/components/content/BackTo.vue';
import UserDataMixin from '@/views/mixins/user-data';
import {LoginErrors} from '../mixins/login';
import {UserDataErrors} from '../mixins/user-data';
import {RegistrationModel} from '../../services/Models/Registration';
import {namespace, Action, State} from 'vuex-class';
import {Company} from '../../services/Models/Company';
import {StateMeta as CompaniesStateMeta} from '../../store/modules/companies';
import {StateMeta as JobsStateMeta} from '../../store/modules/jobs';
import {Job} from '../../services/Models/Job.js';
import {ErrorModel} from '../../services/Api/models/Error.js';
import {RouteNextCallback} from '../../globals';
import {Route} from 'vue-router';

const CompaniesNS = namespace('companies');
const JobsNS = namespace('jobs');

interface CommonErrors extends UserDataErrors, LoginErrors {}

@Component({
  name: 'Registration',
  components: {
    Card,
    CardTitle,
    CardContent,
    CardFooter,
    ResponsiveInput,
    Input,
    ResponsiveSelect,
    Button,
    Alert,
    ResponsiveHeader,
    ResponsiveSubHeaderText,
    BackTo,
  },
  metaInfo: {
    title: 'Регистрация',
  },
})
export default class RegistrationPage extends Mixins(GlobalErrorsMixin, LoginMixin, UserDataMixin) {
  @State('isRegistrationAvailable')
  isRegistrationAvailable!: boolean;

  @CompaniesNS.State('list')
  public companies!: Company[];

  @CompaniesNS.State('meta')
  public companiesMeta!: CompaniesStateMeta;

  @JobsNS.State('list')
  public jobs!: Job[];

  @JobsNS.State('meta')
  public jobsMeta!: JobsStateMeta;

  get commonErrors() {
    const errors = {
      ...this.loginErrors,
      ...this.userDataErrors,
    };

    return errors as CommonErrors;
  }

  public page = 0;


  get showBackToStep() {
    return this.page > 0;
  }

  @CompaniesNS.Action('fetch')
  public fetchCompanies!: () => Promise<Company[]>;

  @JobsNS.Action('fetch')
  public fetchJobs!: () => Promise<Job[]>;

  @Action('fetchRegistrationStatus')
  public fetchRegistrationStatus!: () => Promise<boolean>;

  public backToStep() {
    if (this.page > 0) {
      this.page--;
    }
  }

  public afterGetErrors() {
    const firstPageFields = [
      'lastName',
      'firstName',
      'middleName',
      'email',
      'phone',
    ];

    for (const field of firstPageFields) {
      if (this.userDataErrors[field].flag === false) {
        this.page = 0;
        break;
      }
    }
  }

  public async tryRegister() {
    this.resetUserDataErrors();

    const requestModel = new RegistrationModel({
      first_name: this.userDataForm.firstName,
      last_name: this.userDataForm.lastName,
      middle_name: this.userDataForm.middleName,
      email: this.userDataForm.email,
      phone: this.userDataForm.phone,
      company_id: this.userDataForm.companyId,
      job_id: this.userDataForm.jobId,
      work_experience: parseInt(this.userDataForm.workExperience),
    });

    try {
      await this.$services.User.registration(requestModel);

      this.$router.push('/');
    } catch (e) {
      if (e.message) {
        this.globalError = e.message;
      }

      if (e.additional) {
        for (const field in e.additional) {
          const errors = e.additional[field];
          let normilized = field;

          switch (field) {
            case 'job_id':
              normilized = 'jobId';
              break;
            case 'company_id':
              normilized = 'companyId';
              break;
            case 'first_name':
              normilized = 'firstName';
              break;
            case 'last_name':
              normilized = 'lastName';
              break;
            case 'middle_name':
              normilized = 'middleName';
              break;
            case 'work_experience':
              normilized = 'workExperience';
              break;
          }

          this.setUserDataError(normilized, errors);
        }
      }

      this.afterGetErrors();
    }
  }

  public async created() {
    try {
      await this.fetchCompanies();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке списка компаний';
    }

    try {
      await this.fetchJobs();
    } catch (e) {
      this.globalError = 'Произошла ошибка при загрузке списка должностей';
    }
  }

  public async routerHook() {
    try {
      await this.fetchRegistrationStatus();
    } catch (e) {
      console.log(e);
    }
  }

  public beforeRouteEnter(to: Route, from: Route, next: RouteNextCallback) {
    next(async (vm) => {
      await (vm as RegistrationPage).routerHook();
    });
  }

  public async beforeRouteUpdate() {
    await this.routerHook();
  }
}
</script>

<style lang="sass" module>
  .Registration
    display: flex
    height: inherit
    min-height: 100%

  .leftSide
    position: relative
    flex-grow: 1

  .rightSide
    flex-grow: 1

  .content
    width: 100%
    max-width: 571px
    padding-left: 15px
    padding-right: 15px

  .topBlock
    padding-top: 16px
    padding-bottom: 32px

  .form
    margin: 0 auto
    padding-bottom: 20px
    +media-breakpoint-up(lg)
      &.has-limit
        max-width: 260px

  .formInput + .formInput
    margin-top: 11px
    +media-breakpoint-up(lg)
      margin-top: 23px

  .actionBlock
    margin-top: 20px
    +media-breakpoint-up(lg)
      margin-top: 32px

  .input
    +media-breakpoint-up(lg)
      max-width: 260px
      padding-left: 0
      padding-right: 0

  .label
    text-align: right
    +media-breakpoint-up(lg)
      flex-basis: 141px
      max-width: 141px

  .promoTitle
    margin-top: 18px
    +media-breakpoint-up(lg)
      margin-top: 48px

  .backToStep
    position: absolute
    top: 333px
    right: 31%
    text-align: right
    left: 0
    bottom: 0
</style>
