<template lang="pug">
  div( :class="$style.TableTools" )
    slot
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'TableTools',
})
export default class TableToolsComponent extends Vue {
}
</script>

<style lang="sass" module>
  .TableTools
</style>
