<template lang="pug">
  div( :class="$style.UsersTable" )
    b-table(
      class="table-brand",
      v-on="$listeners",
      v-bind="$attrs",
      :fields="fields",
      responsive
    )
      template( slot="HEAD_user", slot-scope="data")
        b( :class="$style.highlight" )  {{ data.label }}
      template( slot="HEAD_company", slot-scope="data")
        b( :class="$style.highlight" )  {{ data.label }}
      template( slot="HEAD_role", slot-scope="data")
        b( :class="$style.highlight" )  {{ data.label }}
      template( slot="HEAD_score", slot-scope="data")
        b( :class="$style.highlight" )  {{ data.label }}
      template( slot="HEAD_action", slot-scope="data")
        span

      template( slot="user", slot-scope="data")
        UserPreview(
          :user="data.value",
          hide-description,
          centered-description,
          avatar-size="24px"
        )
      template( slot="ideas", slot-scope="data" )
        span( :class="$style.highlight" ) {{ data.value }}
      template( slot="action", slot-scope="data" )
        Button( theme="little-plain", no-y-padding, @click="onEditClick(data.item)" )
          i( class="mdi mdi-pencil" )
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';
import UserPreview from '@/views/components/content/UserPreview.vue';
import Button from '@/views/components/forms/buttons/Button.vue';


@Component({
  name: 'UsersTable',
  inheritAttrs: false,
  components: {
    UserPreview,
    Button,
  },
})
export default class UsersTableComponent extends Vue {
  public fields = [
    {key: 'user', sortable: true, label: 'Пользователь'},
    {key: 'email', sortable: true, label: 'Email'},
    {key: 'phone', sortable: true, label: 'Телефон'},
    {key: 'company', sortable: true, label: 'Предприятие'},
    {key: 'job', sortable: true, label: 'Должность'},
    {key: 'role', sortable: true, label: 'Роль'},
    {key: 'rating', sortable: true, label: 'Рейтинг'},
    {key: 'ideas', sortable: true, label: 'К-во идей'},
    'action',
  ];

  @Emit('edit')
  public onEditClick($item: any) {}
}
</script>

<style lang="sass" module>
  .UsersTable

  .highlight
    color: $brand-color-link
</style>
