<template lang="pug">
  router-link(
    v-if="tagType === 'router-link'",
    class="btn",
    :class="classes",
    v-on="$listeners",
    v-bind="$attrs"
  )
    slot
  a(
    v-else-if="tagType === 'link'",
    class="btn",
    :class="classes",
    v-on="$listeners",
    v-bind="$attrs"
  )
    slot
  label(
    v-else-if="tagType === 'label'",
    class="btn",
    :class="classes",
    v-on="$listeners",
    v-bind="$attrs"
  )
    slot
  button(
    v-else,
    class="btn",
    :class="classes",
    v-on="$listeners",
    v-bind="$attrs"
  )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop} from 'vue-property-decorator';

@Component({
  name: 'Button',
  inheritAttrs: false,
})
export default class ButtonComponent extends Vue {
  @Prop({ default: 'primary' })
  public theme!: string;

  @Prop()
  public font!: string;

  @Prop()
  public size!: string;

  @Prop()
  public block!: any;

  @Prop()
  public type!: string;

  @Prop()
  public noYPadding!: any;

  get classes() {

    const sizeName = this.$style[this.size]
      ? this.$style[this.size]
      : `btn-${this.size}`;

    const font = this.$style[`font${this.font}`]
      ? this.$style[`font${this.font}`]
      : null;

    return {
      [this.$style.Button as string]: true,
      [this.$style[this.theme] as string]: !!this.$style[this.theme],
      [sizeName as string]: !!this.size,
      ['btn-block']: this.block != null,
      [font as string]: !!font,
      [this.$style.noYPadding as string]: this.noYPadding != null,
    };
  }

  get tagType() {
    switch (this.type) {
      case 'link':
      case 'router-link':
      case 'label':
        return this.type;
      default:
        return 'button';
    }
  }
}
</script>

<style lang="sass" module>
  .Button
    font-family: $brand-font-family-fira-sans-sans-serif
    text-transform: uppercase
    font-weight: 500
    padding-left: 17px
    padding-right: 17px
    white-space: normal
    +media-breakpoint-up(lg)
      padding-left: 40px
      padding-right: 40px

  .outline
    color: $brand-color-button-outline-text
    background-color: transparent
    background-image: none
    border-color: $brand-color-button-outline

    &:hover
      color: $brand-color-button-outline-text-hover
      background-color: $brand-color-button-outline-background-hover

  .primary
    color: $brand-color-primary-button-text
    background-color: $brand-color-primary-button-background
    background-image: none
    border-color: transparent

    &:hover
      color: $brand-color-primary-button-text
      background-color: lighten($brand-color-primary-button-background, 15%)

  .danger
    color: $brand-color-primary-button-text
    background-color: $brand-color-danger
    background-image: none
    border-color: transparent

    &:hover
      color: $brand-color-primary-button-text
      background-color: lighten($brand-color-danger, 15%)

  .success
    color: $brand-color-primary-button-text
    background-color: $brand-color-ok-status
    background-image: none
    border-color: transparent

    &:hover
      color: $brand-color-primary-button-text
      background-color: lighten($brand-color-ok-status, 15%)


  .white
    color: $brand-color-white-button-text
    background-color: $brand-color-white-button-background
    background-image: none
    border-color: transparent

    &:hover
      color: $brand-color-white-button-text
      background-color: lighten($brand-color-white-button-background, 15%)

  .plain
    color: $brand-color-plain-button-text
    background-color: transparent
    background-image: none
    border-color: transparent
    &:hover
      color: $brand-color-plain-button-text
      border-color: $brand-color-plain-button-hover-border

  .link
    font-weight: 400
    color: $brand-color-link
    background-color: transparent
    text-transform: none
    padding: 0
    display: inline
    line-height: inherit
    vertical-align: inherit
    &:hover
      color: lighten($brand-color-link, 15%)
      text-decoration: underline
      background-color: transparent
      border-color: transparent

  .linkSidebar
    font-weight: 400
    color: $brand-color-link
    background-color: transparent
    text-transform: none
    font-size: 14px
    text-decoration: underline
    padding: 0
    display: inline
    line-height: inherit
    vertical-align: inherit
    &:hover
      color: lighten($brand-color-link, 15%)
      text-decoration: underline
      background-color: transparent
      border-color: transparent

  .xlg
    +button-size($btn-padding-y-lg * 2, $btn-padding-x-lg * 2, $font-size-base, $btn-line-height-lg, $btn-border-radius-lg)

  .fontopensans
    font-family: $brand-font-family-open-sans-sans-serif

  .little-primary
    color: $brand-color-primary-button-text
    background-color: $brand-color-primary-button-background
    background-image: none
    border-color: transparent
    padding-left: 12px
    padding-right: 12px
    font-size: 0.8rem
    +media-breakpoint-up(lg)
      padding-left: 15px
      padding-right: 15px
    &:hover
      color: $brand-color-primary-button-text
      background-color: lighten($brand-color-primary-button-background, 15%)

  .little-plain
    color: $brand-color-plain-button-text
    background-color: transparent
    background-image: none
    border-color: transparent
    padding-left: 12px
    padding-right: 12px
    font-size: 0.8rem
    +media-breakpoint-up(lg)
      padding-left: 15px
      padding-right: 15px

    &:hover
      color: $brand-color-plain-button-text
      border-color: $brand-color-plain-button-hover-border

  .noYPadding
    padding-top: 0
    padding-bottom: 0
</style>
