<template lang="pug">
  div( :class="$style.AttachmentsGrid" )
    div( v-for="(item, idx) in attachments", :class="$style.item", :key="idx" )
      AttachmentPreview(  :filename="item.filename", :url="item.url" )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import AttachmentPreview from './AttachmentPreview.vue';


export type AttachmentsGridData = Array<{ filename: string, url: string }>;

@Component({
  name: 'AttachmentsGrid',
  components: {
    AttachmentPreview,
  },
})
export default class AttachmentsGridComponent extends Vue {
  @Prop()
  public attachments!: AttachmentsGridData;
}
</script>

<style lang="sass" module>
  .AttachmentsGrid
    display: flex
    flex-wrap: wrap

  .item
    flex-shrink: 0
    flex-grow: 1
    max-width: 100%
    width: 100%
    padding: 15px
    +media-breakpoint-up(lg)
      flex-grow: 0
      width: 50%
</style>
