<template lang="pug">
  a( :class="$style.AttachmentPreview", :href="url", target="_blank" )
    div( :class="$style.preview" )
      img( :src="imgUrl", :alt="filename" )
    div( :class="$style.footer" )
      | {{ filename }}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

const IMG_RX = /\.(png|jpe?g|gif|bmp|svg)$/;

@Component({
  name: 'AttachmentPreview',
})
export default class AttachmentPreviewComponent extends Vue {
  @Prop()
  public filename!: string;

  @Prop()
  public url!: string;

  get imgUrl() {
    if (this.url) {
      if (IMG_RX.test(this.filename)) {
        return this.url;
      }
    }

    return '/img/fileIcon.svg';
  }
}
</script>

<style lang="sass" module>
  .AttachmentPreview
    border: 1px solid $brand-color-light-border
    border-radius: 4px
    background-color: #ffffff
    display: block
    overflow: hidden

  .preview
    display: flex
    align-self: center
    justify-content: center
    height: 114px

    > img
      vertical-align: top
      max-width: 100%
      max-height: 100%

  .footer
    border-top: 1px solid $brand-color-light-border
    color: $brand-color-light-bold-text
    font-size: 14px
    line-height: 20px
    padding: 10px 20px 8px
</style>
