<template lang="pug">
  button( v-on="$listeners", v-bind="$attrs", :class="[$style.BackTo, $style[`theme_${theme}`]]")
    i( class="mdi mdi-arrow-left" )
    |
    span
      slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'BackTo',
})
export default class BackToComponent extends Vue {
  @Prop()
  public theme!: string;
}
</script>

<style lang="sass" module>
  .BackTo
    background: none
    border: 0
    cursor: pointer
    display: inline-block
    vertical-align: top
    text-transform: uppercase
    color: $brand-color-light-text
    > i
      vertical-align: middle
      font-size: 24px
      margin-right: 13px
    > span
      display: inline-block
      vertical-align: middle

    &.theme_ice
      color: $brand-color-link
      > i
        color: $brand-color-base-2
</style>
