<template lang="pug">
  div( :class="$style.BenefitsList" )
    ul( v-if="sorted.length", :class="$style.list" )
      li( v-for="(_item, idx) in sorted", :key="idx" )
        header( :class="$style.header" ) {{ _item.conditionPresentation }}
        div( v-for="(benefit, _idx) in _item.list", :class="$style.benefit", :key="_idx" )
          span {{ benefit.description }}
          span( :class="$style.score" ) {{ benefit.score }} баллов
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

export interface Benefit {
  score: number;
  description: string;
}

export type BenefitsListData = Benefit[];

export interface SortedItem {
  list: Benefit[];
  condition: number[];
  conditionPresentation: string;
}

export type SortedList = SortedItem[];


@Component({
  name: 'BenefitsList',
})
export default class BenefitsListComponent extends Vue {
  @Prop()
  public benefits!: BenefitsListData;

  @Prop({ default() { return [[0, 100], [100, 1000], [1000, Infinity]]; } })
  public sortRules!: number[][];

  get sorted() {
    let list: SortedList = [];

    if (this.benefits.length) {
      for (const item of this.sortRules) {
        list.push({
          list: [],
          condition: item,
          conditionPresentation: `${item[0]}${isFinite(item[1]) ? '-' + item[1] : ' и более'} бaллов`,
        });
      }

      const benefits = Array.from(this.benefits);

      benefits.sort((a, b) => (a.score - b.score));

      for (const item of benefits) {
        const place = list.find((container) => {
          const { condition } = container;

          if (condition[0] <= item.score && condition[1] > item.score) {
            return true;
          }

          return false;
        });

        if (place) {
          place.list.push(item);
        }
      }
    }

    list = list.filter((item) => item.list.length > 0);

    return list;
  }
}
</script>

<style lang="sass" module>
  .BenefitsList

  .list
    list-style: none
    padding: 0
    > li + li
      margin-top: 54px

  .header
    font-size: 12px
    line-height: 18px
    color: $brand-color-light-text
    margin-bottom: 30px

  .benefit
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid $brand-color-break-line
    font-size: 20px
    line-height: 30px
    color: $brand-color-bold-text
    > .score
      color: $brand-color-base-2
    & + &
      margin-top: 15px
</style>
