<template lang="pug">
  div( :class="$style.Pagination" )
    SimpleText( v-if="showCaption" )
      | {{ showFrom }}-{{ showTo }} из {{ totalRows }}
    b-pagination(
      :class="$style.vendorPagination",
      :value="value",
      :limit="0",
      hide-goto-end-buttons,
      hide-ellipsis,
      v-bind="$attrs",
      v-on="$listeners",
      :per-page="perPage",
      :total-rows="totalRows",
      @input="$emit('input', $event)",
    )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import SimpleText from './SimpleText.vue';


@Component({
  name: 'Pagination',
  inheritAttrs: false,
  components: {
    SimpleText,
  },
})
export default class PaginationComponent extends Vue {
  @Prop(Number)
  public value!: number;

  @Prop({type: Number, default: 20})
  public perPage!: number;

  @Prop({ type: Number, default: 20 })
  public totalRows!: number;

  get showCaption() {
    return !isNaN(this.value)
      && !isNaN(this.perPage)
      && !isNaN(this.totalRows);
  }

  get showFrom() {
    return (this.value - 1) * this.perPage + 1;
  }

  get showTo() {
    const to = this.value * this.perPage;

    return to > this.totalRows ? this.totalRows : to;
  }
}
</script>

<style lang="sass" module>
  .Pagination
    display: inline-block
    vertical-align: middle

  .vendorPagination
    display: inline-flex
    margin-left: 16px
    & :global .page-link,
    & :global .page-item
      border-radius: 3px
      width: 32px
      height: 32px
      line-height: 32px
      padding: 0
      text-align: center
      margin: 0
      color: $brand-color-light-text
    & :global .page-link > span,
    & :global .page-item > span
      font-size: 24px
      line-height: 1

    & :global .page-item + .page-item
      margin-left: 8px
</style>
