<template lang="pug">
  div( :class="$style.RatingCard" )
    p( :class="$style.title" ) Рейтинг
    p( :class="$style.value" ) {{ ratingValue }}
    p( :class="$style.valueDescription" ) Баллов
    //hr( :class="$style.delimiter" )
    //router-link( :class="$style.linkToPage", to="/benefits" )
    //  i( class="mdi mdi-star-outline" )
    //  | Список привилегий
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'RatingCard',
})
export default class RatingCardComponent extends Vue {
  @Prop()
  public ratingValue!: string | number;
}
</script>

<style lang="sass" module>
  .RatingCard
    background-image: url("/img/ratingCardBackground.svg")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    background-color: $brand-color-base-2
    box-shadow: $brand-box-shadow-variant-1
    padding: 39px 30px
    color: #ffffff
    text-align: center
    border-radius: 8px

  .title
    font-family: $brand-font-family-fira-sans-sans-serif
    font-size: 24px
    line-height: 36px

  .value
    margin-top: 9px
    font-family: $brand-font-family-fira-sans-sans-serif
    font-size: 56px
    font-weight: 500
    line-height: 60px

  .valueDescription
    margin-top: 6px
    font-family: $brand-font-family-fira-sans-sans-serif
    font-size: 16px
    line-height: 24px
    font-weight: 500
    text-transform: uppercase

  .delimiter
    border-color: #ffffff

  .linkToPage
    font-size: 14px
    line-height: 20px
    color: #ffffff
    &:hover
      color: #ffffff
    > i
      vertical-align: middle
      margin-left: -24px
      font-size: 24px
      margin-right: 14px
</style>
