<template lang="pug">
  div( :class="$style.RatingTimeline" )
    ul( v-if="timeline.length", :class="$style.list" )
      li( v-for="(item, idx) in timeline", :class="$style.item", :key="idx" )
        div( :class="$style.timeContainer" )
          time( :class="$style.time" ) {{ item.date }}
        div( :class="[$style.infoContainer, getOperationClass(item)]" )
          p( :class="$style.value" )
            span {{ item.value >= 0 ? '+' : '-' }}{{ Math.abs(item.value) }} баллов
            time( :class="$style.timeInValue" ) {{ item.date }}
          div( :class="$style.info" )
            p( v-if="item.theme", :class="$style.theme" ) {{ item.theme }}
            p( :class="$style.text" ) {{ item.description }}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

export interface TimeLineItem {value: number; theme?: string; description: string; date: string; }
export type Timeline = TimeLineItem[];

@Component({
  name: 'RatingTimeline',
})
export default class RatingTimelineComponent extends Vue {
  @Prop()
  public timeline!: Timeline;

  public getOperationClass(item: TimeLineItem) {
    if (item.value >= 0) {
      return this.$style.positive;
    } else {
      return this.$style.negative;
    }
  }
}
</script>

<style lang="sass" module>
  .RatingTimeline

  .list
    list-style: none
    padding: 0

  .item
    display: flex
    &:last-child
      .info
        border-left: 0

  .timeContainer
    display: none
    flex-grow: 0
    width: 100px
    padding-top: 3px
    +media-breakpoint-up(lg)
      display: block

  .timeInValue,
  .time
    color: $brand-color-light-text
    font-size: 14px
    line-height: 20px

  .timeInValue
    +media-breakpoint-up(lg)
      display: none

  .infoContainer
    flex-grow: 1
    &.positive
      > .value
        color: $brand-color-positive
    &.negative
      > .value
        color: $brand-color-negative

  .value
    font-size: 20px
    line-height: 30px
    color: $brand-color-light-text
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    > span
      &:before
        content: ''
        display: inline-block
        width: 11px
        height: 11px
        vertical-align: middle
        background-color: currentColor
        margin-right: 31px
        border-radius: 100%



  .info
    border-left: 1px solid $brand-color-light-border
    margin-left: 5px
    padding-left: 36px
    padding-bottom: 56px
    padding-top: 14px

  .theme
    font-size: 12px
    line-height: 18px
    color: $brand-color-light-text
    text-transform: uppercase
    margin-bottom: 15px

  .text
    font-size: 20px
    line-height: 30px
    color: $brand-color-bold-text
</style>
