<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import {CreateElement, RenderContext} from 'vue';

export default {
  name: 'ResponsiveHeader',
  functional: true,
  props: {
    variant: {
      type: [String, Number],
      default: 1,
    },
    font: {
      type: [String],
    },
  },

  render(h: CreateElement, context: RenderContext) {
    const className = (context.$style as any).ResponsiveHeader;
    const classNameVariant = (context.$style as any)[`ResponsiveHeaderV${context.props.variant}`];
    const classNameFont = (context.$style as any)[`font${context.props.font || ''}`];

    let _class = context.data.class;

    if (typeof _class === 'string') {
      _class = { [_class]: true };
    } else if (Array.isArray(_class)) {
      _class = _class.reduce((result, item) => { result[item] = true; }, {});
    }

    const classes = Object.assign({}, _class, {
      [className]: true,
      [classNameVariant]: !!classNameVariant,
      [classNameFont]: !!classNameFont,
    });

    const data = Object.assign({}, context.data, { class: classes });

    return h(`h${context.props.variant}`, data, context.children);
  },
};
</script>

<style lang="sass" module>
  .ResponsiveHeader
    margin: 0

  .ResponsiveHeaderV1
    font-family: $brand-font-family-echoes-sans-sans-serif
    font-size: 36px
    line-height: 54px
    +media-breakpoint-up(lg)
      font-size: 60px
      line-height: 72px

  .ResponsiveHeaderV3
    font-family: $brand-font-family-echoes-sans-sans-serif
    font-size: 24px
    line-height: 56px

  .ResponsiveHeaderV4
    font-family: $brand-font-family-echoes-sans-sans-serif
    font-size: 20px
    line-height: 30px

  .fontfira
    font-family: $brand-font-family-fira-sans-sans-serif
</style>
