<template lang="pug">
  p( :class="[$style.ResponsiveSubHeaderText, topPadding ? $style.hasTopPadding : null]" )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'ResponsiveSubHeaderText',
})
export default class ResponsiveSubHeaderTextComponent extends Vue {
  @Prop()
  public topPadding!: any;
}
</script>

<style lang="sass" module>
  .ResponsiveSubHeaderText
    color: $brand-color-light-text
    font-size: 22px
    line-height: 30px
    margin: 0
    +media-breakpoint-up(lg)
      font-size: 32px
      line-height: 44px
    &.hasTopPadding
      padding-top: 0
      +media-breakpoint-up(lg)
        padding-top: 18px
</style>
