<template lang="pug">
  div( :class="$style.RulesAndPolicyText" )
    h1 Политика конфиденциальности
    p 1. Что регулирует настоящая политика конфиденциальности
    p Настоящая политика конфиденциальности (далее — Политика) действует в отношении всей информации, включая персональные данные в понимании применимого законодательства (далее — «Персональная информация»), которую ООО «ЯНДЕКС» и/или его аффилированные лица, в том числе входящие в одну группу с ООО «ЯНДЕКС» (далее — «Яндекс»), могут получить о Вас в процессе использования Вами любых сайтов, программ, продуктов и/или сервисов Яндекса (далее вместе — «Сервисы»), информацию о которых Вы можете найти на сайтах yandex.ru, yandex.com, yandex.ua, yandex.by, yandex.kz, yandex.com.tr и других принадлежащих Яндексу сайтах (далее вместе — «Сайты»), а также в ходе исполнения Яндексом / его аффилированными лицами любых соглашений и договоров, заключенных с Вами в связи с использованием Вами Сервисов. Яндекс может также получать Персональную информацию от своих партнеров (далее — «Партнеры»), сайты, программы, продукты или сервисы которых Вы используете (например, от рекламодателей Яндекса). В таких случаях передача Персональной информации возможна только в случаях, установленных применимым законодательством, и осуществляется на основании специальных договоров между Яндексом и каждым из Партнеров. Пожалуйста, обратите внимание, что использование любого из Сайтов и/или Сервисов может регулироваться дополнительными условиями, которые могут вносить в настоящую Политику изменения и/или дополнения.
    p 2. Кто обрабатывает информацию
    p Для обеспечения использования Вами Сайтов и Сервисов Ваша Персональная информация собирается и используется обществом с ограниченной ответственностью «ЯНДЕКС», юридическим лицом, созданным по законодательству Российской Федерации и зарегистрированным по адресу: 119021, Россия, Москва, ул. Льва Толстого, д. 16 (ООО «ЯНДЕКС»), или его аффилированным лицом, предоставляющим соответствующий Сервис. С информацией о том, какое лицо предоставляет тот или иной Сервис, Вы можете ознакомиться в условиях использования соответствующего Сервиса.
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'RulesAndPolicyText',
})
export default class RulesAndPolicyTextComponent extends Vue {
}
</script>

<style lang="sass" module>
  .RulesAndPolicyText
</style>
