<template lang="pug">
  span( :class="[$style.SimpleText, $style[`theme_${theme}`]]" )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'SimpleText',
})
export default class SimpleTextComponent extends Vue {
  @Prop({ type: String, default: 'lighten' })
  public theme!: string;
}
</script>

<style lang="sass" module>
  .SimpleText

  .theme_lighten
    color: $brand-color-light-text
    font-size: 14px
    line-height: 20px

  .theme_lighten-upper
    color: $brand-color-light-text
    font-size: 14px
    line-height: 20px
    text-transform: uppercase
</style>
