<template lang="pug">
  div( :class="$style.SuggestBenefit" )
    div( :class="$style.side" )
      trophy( :class="$style.icon", color="#ffffff" )
    div( :class="$style.content" )
      ResponsiveHeader( variant="3", font="fira" ) Предложите награды
      p The preservation of human life is the ultimate value, a pillar of ethics and the foundation of all morality.
      Button( type="link" ) Предложите награду
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ResponsiveHeader from './ResponsiveHeader.vue';
import Button from '../forms/buttons/Button.vue';
import Trophy from '../icons/trophy.vue';

@Component({
  name: 'SuggestBenefit',
  components: {
    Trophy,
    Button,
    ResponsiveHeader
  },
})
export default class SuggestBenefitComponent extends Vue {
}
</script>

<style lang="sass" module>
  .SuggestBenefit
    display: flex
    border-radius: 8px
    background-color: $brand-color-base-2
    color: #ffffff

  .side
    flex: 0 0 auto
    border-right: 1px solid #979797
    width: 80px
    text-align: center
    padding: 30px 0

  .icon

  .content
    padding: 10px 30px 40px
    > p
      font-family: $brand-font-family-open-sans-sans-serif
      margin-top: 6px
      margin-bottom: 27px
</style>
