<template lang="pug">
  div( :class="classes" )
    slot
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'UnderlinedContainer',
})
export default class UnderlinedContainerComponent extends Vue {
  @Prop()
  active: any;

  @Prop()
  fullHeight: any;

  @Prop()
  centered: any;

  get classes() {
    return [
      this.$style.UnderlinedContainer,
      this.active != null && this.active !== false ? this.$style.isActive : null,
      this.fullHeight != null && this.fullHeight !== false ? this.$style.fullHeight : null,
      this.centered != null && this.centered !== false ? this.$style.centered : null,
    ];
  }
}
</script>

<style lang="sass" module>
  .UnderlinedContainer
    position: relative

    &.isActive:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0
      height: 2px
      z-index: 1
      background-color: $brand-color-link

    &.fullHeight
      height: 100%

    &.centered
      display: flex
      justify-content: center
      align-items: center
</style>
