<template lang="pug">
  div( :class="[$style.UserPreview, this.blockStyle ? $style.block : null, $style[`style_${theme}`]]" )
    div( :class="$style.avatarContainer", :style="avatarStyles" )
      img( :src="photo", :alt="fullName" )
    div( v-if="!showOnlyAvatar", :class="[$style.descriptionContainer, centeredDescription != null ? $style.centered : null ]" )
      span( :class="$style.name" ) {{ fullName }}
      span( v-if="hideDescription == null", :class="$style.description" ) Баллы: {{ user.score }}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

export interface UserData {
  photo?: string | void | null;
  firstName: string;
  lastName: string;
  score: number;
}

@Component({
  name: 'UserPreview',
})
export default class UserPreviewComponent extends Vue {
  @Prop()
  public user!: UserData;

  @Prop()
  public onlyAvatar!: any;

  @Prop()
  public hideDescription!: any;

  @Prop()
  public centeredDescription!: any;

  @Prop()
  public avatarSize!: string;

  @Prop()
  public block!: any;

  @Prop()
  public theme!: string;

  get fullName() {
    return `${this.user.firstName} ${this.user.lastName}`;
  }

  get photo() {
    if (this.user.photo) {
      return this.user.photo;
    }

    return '/img/noAvatar.svg';
  }

  get showOnlyAvatar() {
    return this.onlyAvatar != null;
  }

  get blockStyle() {
    return this.block != null;
  }

  get avatarStyles() {
    if (this.avatarSize) {
      return {
        width: this.avatarSize,
        height: this.avatarSize,
      };
    }
  }
}
</script>

<style lang="sass" module>
  .UserPreview
    display: flex
    &.block
      display: block
      text-align: center
      > .avatarContainer
        margin: 0 auto
        width: 60px
        height: 60px
      > .descriptionContainer
        margin-top: 10px
        text-align: center
        padding-left: 0
        > .name
          font-size: 20px
        > .description
          font-size: 16px
          margin-top: 8px
    &.style_white
      .name
        color: #ffffff
      .description
        color: #ffffff

  .avatarContainer
    width: 42px
    height: 42px
    flex-shrink: 0
    flex-grow: 0
    > img
      width: 100%
      height: 100%
      vertical-align: top
      border-radius: 50%

  .descriptionContainer
    flex-grow: 1
    padding-left: 12px
    display: flex
    flex-direction: column
    justify-content: space-between
    text-align: left
    &.centered
      justify-content: center

  .name
    font-size: 14px
    color: $brand-color-bold-text

  .description
    font-size: 14px
    color: $brand-color-light-bold-text
</style>
