<template lang="pug">
  .custom-control.custom-checkbox
    input.custom-control-input(
      type="checkbox",
      :id="id",
      v-on="filteredListeners",
      v-bind="$attrs",
      :checked="value",
      @change="$emit('input', $event.target.checked)",
    )
    label.custom-control-label( :for="id")
      slot
    span( :class="$style.requireFlag" v-if="requireFlag" ) *
</template>

<script lang="ts">
import {Component, Vue, Prop, Emit, Mixins} from 'vue-property-decorator';
import nanoid from 'nanoid';

@Component({
  name: 'Checkbox',
  inheritAttrs: false,
})
export default class CheckboxComponent extends Vue {
  public id: string = nanoid();

  @Prop({ default: false })
  public value!: boolean;

  @Prop(Boolean)
  public requireFlag!: boolean;

  get filteredListeners() {
    if (this.$listeners) {
      const copy = Object.assign({}, this.$listeners);

      delete copy.input;

      return copy;
    }

    return {};
  }
}
</script>

<style lang="sass" module>
  .requireFlag
    color: $brand-danger-text
    font-size: 12px
</style>
