<template lang="pug">
  div( class="form-group", :class="rootClasses" )
    label( v-if="label", :for="id" ) {{ label }}
    div( :class="[$style.inputWrapper]" )
      input(
        class="form-control",
        v-on="filteredListeners",
        v-bind="$attrs",
        :type="internalType",
        :id="id",
        :class="mergedClasses"
        :value="value",
        @input="$emit('input', $event.target.value)"
      )
      div( v-if="hasAction", :class="[$style.action, showPassword ? $style['is-active'] : null]" )
        i( v-if="$attrs.type === 'password'", class="mdi mdi-eye", @click="onTogglePasswordVisibility" )
      div( v-else-if="isSearchType", :class="$style.icon" )
        i( class="mdi mdi-magnify" )
      div( v-if="validText", class="valid-feedback" ) {{ validText }}
      div( v-if="invalidText", class="invalid-feedback" ) {{ invalidText }}
      small(
        v-if="text",
        class="form-text"
      ) {{ text }}

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Mixins} from 'vue-property-decorator';
import CommonMixin from './common';
import InputsMixin from './inputs';
import ValidationMixin from './validation';

@Component({
  name: 'Input',
})
export default class InputComponent extends Mixins(CommonMixin, InputsMixin, ValidationMixin) {
  get mergedClasses() {
    return Object.assign({}, this.classes, this.validationClasses);
  }

  get rootClasses() {
    const list = [this.$style.Input];

    if (this.hasAction) {
      list.push(this.$style['has-action']);
    }

    if (this.isSearchType) {
      list.push(this.$style['has-icon']);
    }

    return list;
  }
}
</script>

<style lang="sass" module>
  .Input
    &.has-action,
    &.has-icon
      position: relative
      > input
        padding-right: 36px

  .action
    position: absolute
    top: 0
    right: 0
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    cursor: pointer
    opacity: 0.5
    font-size: 22px

    &.is-active
      opacity: 1

  .icon
    position: absolute
    top: 0
    right: 0
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    font-size: 22px

  .inputWrapper
    position: relative
</style>
