<template lang="pug">
  b-form-radio-group(
    v-on="$listeners",
    v-bind="$attrs"
  )
    slot
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  name: 'RadioGroup',
  inheritAttrs: false,
})
export default class RadioGroupComponent extends Vue {
}
</script>

<style lang="sass" module>
</style>
