<template lang="pug">
  b-form-radio(
    v-on="filteredListeners",
    v-bind="$attrs",
    :class="$style.radio",
    :checked="value",
    :value="nativeValue",
    @change="onChange",
  )
    span( :class="$style.requireFlag" v-if="requireFlag" )
      | *
      |
    slot
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component({
  name: 'Radio',
  inheritAttrs: false,
})
export default class RadioComponent extends Vue {
  @Prop(Boolean)
  public requireFlag!: boolean;

  @Prop()
  public value!: any;

  @Prop()
  public nativeValue!: any;

  public onChange(value: any) {
    this.$emit('input', value);
  }

  get filteredListeners() {
    if (this.$listeners) {
      const copy = Object.assign({}, this.$listeners);

      delete copy.input;

      return copy;
    }

    return {};
  }
}
</script>

<style lang="sass" module>
  .radio
    margin-right: 0

  .requireFlag
    color: $brand-danger-text
    font-size: 12px
</style>
