<template lang="pug">
  div( class="form-group", :class="[$style.ResponsiveSelect]" )
    label( v-if="label", :for="id", :class="[$style.label, 'col-form-label', ...labelCustomClasses]" )
      span {{ label }}
      span( :class="$style.requireFlag" v-if="requireFlag" ) *
    div( :class="[...selectCustomClasses]" )
      select(
        class="form-control",
        v-on="filteredListeners",
        v-bind="filteredAttrs",
        :id="id",
        :class="mergedClasses"
        :value="value",
        @change="$emit('input', $event.target.value)"
      )
        slot
      div( v-if="validText", class="valid-feedback" ) {{ validText }}
      div( v-if="invalidText", class="invalid-feedback" ) {{ invalidText }}
      small(
        v-if="text",
        class="form-text"
      ) {{ text }}

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Mixins } from 'vue-property-decorator';
import CommonMixin from './common';
import ValidationMixin from './validation';

@Component({
  name: 'ResponsiveSelect',
})
export default class ResponsiveSelectComponent extends Mixins(CommonMixin, ValidationMixin) {
  @Prop({ default() { return ['col-sm-10']; } })
  public selectCustomClasses!: string[];

  @Prop({ default() { return ['col-sm-2']; } })
  public labelCustomClasses!: string[];

  get filteredAttrs() {
    if (this.$attrs) {
      const copy = Object.assign({}, this.$attrs);

      delete copy.selectCustomClasses;
      delete copy.labelCustomClasses;

      return copy;
    }

    return {};
  }

  get mergedClasses() {
    return Object.assign({}, this.classes, this.validationClasses);
  }
}
</script>

<style lang="sass" module>
  .ResponsiveSelect

  .inputWrapper

  .label
    /*padding-right: 16px*/
  .requireFlag
    color: $brand-danger-text
    font-size: 12px
</style>
