<template lang="pug">
  div( class="form-group", :class="rootClasses" )
    label( v-if="label", :for="id", :class="[$style.label, 'col-form-label', ...labelCustomClasses]" )
      span {{ label }}
      span( :class="$style.requireFlag" v-if="requireFlag" ) *
    div( :class="[$style.inputWrapper, ...inputCustomClasses]" )
      div( m-pos="re" )
        input(
          class="form-control",
          v-on="filteredListeners",
          v-bind="filteredAttrs",
          :type="internalType",
          :id="id",
          :class="mergedClasses"
          :value="value",
          @input="$emit('input', $event.target.value)"
        )
        div( v-if="hasAction", :class="[$style.action, showPassword ? $style['is-active'] : null]" )
          i( v-if="$attrs.type === 'password'", class="mdi mdi-eye", @click="onTogglePasswordVisibility" )
        div( v-else-if="isSearchType", :class="$style.icon" )
          i( class="mdi mdi-magnify" )
        div( v-if="validText", class="valid-feedback" ) {{ validText }}
        div( v-if="invalidText", class="invalid-feedback" ) {{ invalidText }}
        small(
          v-if="text",
          class="form-text"
        ) {{ text }}

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Mixins} from 'vue-property-decorator';
import CommonMixin from './common';
import InputsMixin from './inputs';
import ValidationMixin from './validation';

@Component({
  name: 'ResponsiveInput',
})
export default class ResponsiveInputComponent extends Mixins(CommonMixin, InputsMixin, ValidationMixin) {
  @Prop({ default() { return ['col-sm-10']; } })
  public inputCustomClasses!: string[];

  @Prop({ default() { return ['col-sm-2']; } })
  public labelCustomClasses!: string[];

  get filteredAttrs() {
    if (this.$attrs) {
      const copy = Object.assign({}, this.$attrs);

      delete copy.inputCustomClasses;
      delete copy.labelCustomClasses;

      return copy;
    }

    return {};
  }

  get mergedClasses() {
    return Object.assign({}, this.classes, this.validationClasses);
  }

  get rootClasses() {
    const list = [this.$style.ResponsiveInput];

    if (this.hasAction) {
      list.push(this.$style['has-action']);
    }

    if (this.isSearchType) {
      list.push(this.$style['has-icon']);
    }

    return list;
  }
}
</script>

<style lang="sass" module>
  .ResponsiveInput
    &.has-action,
    &.has-icon
      > .inputWrapper
        position: relative
        > input
          padding-right: 36px

  .action
    position: absolute
    top: 0
    right: 0
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    cursor: pointer
    opacity: 0.5
    font-size: 22px

    &.is-active
      opacity: 1

  .icon
    position: absolute
    top: 0
    right: 0
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    font-size: 22px

  .inputWrapper
    position: relative
  .label
    /*padding-right: 16px*/
  .requireFlag
    color: $brand-danger-text
    font-size: 12px
</style>
