<template lang="pug">
  div( class="form-group", :class="[$style.SelectExpert]" )
    label( v-if="label")
      span {{ label }}
      span( :class="$style.requireFlag" v-if="requireFlag" ) *
    stf-select(
      v-on="filteredListeners",
      v-bind="$attrs",
      :id="id",
      class="form-control",
      :class="mergedClasses"
      :value="value",
      @input="$emit('input', $event)"
    )
      div( :class="$style.value", slot='value')
        div(v-if='value')
          ExpertPreview( :expert="value" )
        div( v-else, :class="$style.choose" )
          | Выбрать
        i( class="mdi mdi-menu-down", :class="$style.arrow")
      section( :class="$style.options" )
        stf-select-option(
          v-for='item of options',
          :key='item.id',
          :value='item',
          :class="{'stf-select-option_selected': item.id === (value && value.id)}"
        )
          ExpertPreview( :expert="item" )
    div( v-if="validText", class="valid-feedback" ) {{ validText }}
    div( v-if="invalidText", class="invalid-feedback" ) {{ invalidText }}
    small(
      v-if="text",
      class="form-text"
    ) {{ text }}
</template>

<script lang="ts">
import { Component, Vue, Mixins, Prop } from 'vue-property-decorator';
import CommonMixin from './common';
import ValidationMixin from './validation';
import ExpertPreview, { ExpertData } from '@/views/components/content/ExpertPreview.vue';

export interface ExpertOption extends ExpertData {}

@Component({
  name: 'SelectExpert',
  components: {
    ExpertPreview,
  },
})
export default class SelectExpertComponent extends Mixins(CommonMixin, ValidationMixin) {
  @Prop({ default() { return []; } })
  public options!: ExpertOption[];

  @Prop()
  public value!: ExpertOption | void | null;

  get mergedClasses() {
    return Object.assign({}, this.classes, this.validationClasses);
  }
}
</script>

<style lang="sass" module>
  .SelectExpert
    & :global(.stf-select)
      background-color: #ffffff
      border-radius: 0.25rem
      padding: 0
      height: auto !important
    & :global(.stf-select__inner-wrapper)
      background: none
    & :global(.stf-select__container),
    & :global(.stf-select__inner-wrapper),
    & :global(.stf-select__value),
    & :global(.stf-select__search-input)
      height: auto
      position: static
      padding: 0
      margin: 0
      border-radius: 0
      display: block
      font-size: inherit
      line-height: inherit
      overflow: auto
    & :global(.stf-select__search-input),
    & :global(.stf-select__placeholder)
      display: none

  .options
    border-left: 1px solid $brand-color-light-border
    border-right: 1px solid $brand-color-light-border

  .value
    padding: 0.375rem 0.75rem
    position: relative
    cursor: pointer

  .arrow
    position: absolute
    top: 50%
    right: 12px
    margin-top: -12px
    font-size: 24px
    color: $brand-color-light-text
    line-height: 1

  .choose
    height: 48px
    line-height: 48px
    font-weight: 300

  .requireFlag
    color: $brand-danger-text
    font-size: 12px
</style>
