<template lang="pug">
  div( class="form-group", :class="[$style.StarRatingField]" )
    label( v-if="label" )
      span {{ label }}
      span( :class="$style.requireFlag" v-if="requireFlag" ) *
    StarRating(
      :rating="starRatingValue",
      :max-rating="maxRating",
      :star-size="starSize",
      @rating-selected="ratingSelected",
      :read-only="disabled",
    )
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from 'vue-property-decorator';
import StarRating from 'vue-star-rating';

@Component({
  name: 'StarRatingField',
  components: {
    StarRating,
  },
})
export default class TextFieldComponent extends Vue {
  @Prop()
  public label?: string;

  @Prop()
  public maxRating?: number;

  @Prop()
  public starSize?: number;

  @Prop(Boolean)
  public requireFlag!: boolean;

  @Prop({ default: false })
  public disabled!: boolean;

  @Model('ratingSelected') public starRatingValue!: number;
  public ratingSelected(ratingValue: number) {
    this.$emit('ratingSelected', ratingValue);
  }
}
</script>

<style lang="sass" module>
  .StarRatingField

  .requireFlag
    color: $brand-danger-text
    font-size: 12px
</style>
