<template lang="pug">
  div( class="form-group", :class="[$style.TextField]" )
    label( v-if="label", :for="id" )
      span {{ label }}
      span( :class="$style.requireFlag" v-if="requireFlag" ) *
    textarea(
      class="form-control",
      v-on="filteredListeners",
      v-bind="$attrs",
      :id="id",
      :class="mergedClasses",
      :value="value",
      @input="$emit('input', $event.target.value)"
    )
    div( v-if="hasMaxLengthIndicator", :class="$style.maxLengthIndicator" ) {{ maxLengthIndicatorValue }} символов
    div( v-if="validText", class="valid-feedback" ) {{ validText }}
    div( v-if="invalidText", class="invalid-feedback" ) {{ invalidText }}
    small(
      v-if="text",
      class="form-text"
    ) {{ text }}

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Mixins} from 'vue-property-decorator';
import CommonMixin from './common';
import ValidationMixin from './validation';

@Component({
  name: 'TextField',
})
export default class TextFieldComponent extends Mixins(CommonMixin, ValidationMixin) {
  @Prop()
  public maxLengthIndicator!: any;

  get mergedClasses() {
    return Object.assign({}, this.classes, this.validationClasses);
  }

  get hasMaxLengthIndicator() {
    if (parseInt(this.$attrs.maxlength) > 0 && this.maxLengthIndicator != null) {
      return true;
    }

    return false;
  }

  get maxLengthIndicatorValue() {
    if (this.hasMaxLengthIndicator) {
      const max = parseInt(this.$attrs.maxlength);
      const current = this.value ? String(this.value).length : 0;

      return `${current}/${max}`;
    }

    return null;
  }
}
</script>

<style lang="sass" module>
  .TextField

  .maxLengthIndicator
    text-align: right
    font-size: 12px
    color: $brand-color-light-bold-text
    margin-top: 6px
    padding-right: 12px
    pointer-events: none

  .requireFlag
    color: $brand-danger-text
    font-size: 12px

</style>
