<template lang="pug">
  label( :class="$style.Toggler", :for="id" )
    input(
      type="checkbox",
      :id="id",
      v-on="filteredListeners",
      v-bind="$attrs",
      :checked="value",
      @change="$emit('input', $event.target.checked)",
    )
    span
    span( v-if="hasText && value", :class="$style.text" ) {{ onText }}
    span( v-if="hasText && !value", :class="$style.text" ) {{ offText }}
</template>

<script lang="ts">
import {Component, Vue, Prop, Emit, Mixins} from 'vue-property-decorator';
import nanoid from 'nanoid';

@Component({
  name: 'Toggler',
  inheritAttrs: false,
})
export default class TogglerComponent extends Vue {
  public id: string = nanoid();

  @Prop({default: false})
  public value!: boolean;

  @Prop()
  public onText!: string;

  @Prop()
  public offText!: string;

  get hasText() {
    return this.onText && this.offText;
  }

  get filteredListeners() {
    if (this.$listeners) {
      const copy = Object.assign({}, this.$listeners);

      delete copy.input;

      return copy;
    }

    return {};
  }
}
</script>

<style lang="sass" module>
  .Toggler
    display: inline-block
    vertical-align: middle
    padding-left: 40px
    min-width: 40px
    min-height: 20px
    position: relative
    margin: 0
    cursor: pointer

    input + span
      position: absolute
      top: 0
      left: 0
      border-radius: 10px
      content: ''
      width: 40px
      height: 20px
      padding: 3px
      background-color: $brand-color-toggler-off-bg
      text-align: right
      font-size: 0
      transition: background-color 300ms

    input + span:after
      position: absolute
      top: 3px
      left: (40px - 3px - 14px)
      border-radius: 7px
      content: ''
      width: 14px
      height: 14px
      background: $brand-color-toggler-circle-bg
      display: inline-block
      vertical-align: top
      transition: left 300ms

    input:checked + span
      background-color: $brand-color-toggler-on-bg

    input:checked + span:after
      left: 3px

    > input
      position: absolute
      z-index: -1
      top: 0
      left: 0
      opacity: 0

  .text
    display: inline-block
    vertical-align: top
    color: $brand-color-toggler-text
    font-family: $brand-font-family-open-sans-sans-serif
    font-size: 14px
    line-height: 20px
    padding-left: 4px
</style>
