<template lang="pug">
  div( v-if="show", class="alert", :class="classes" role="alert")
    div( v-if="icon", :class="$style.icon" )
      i( class="mdi", :class="iconClass" )
    div( :class="$style.content" )
      slot
    button( v-if="isDismissible", class="close", aria-label="Close", @click="close" )
      span( aria-hidden="true" ) &times;
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

@Component({
  name: 'Alert',
})
export default class AlertComponent extends Vue {
  @Prop({default: 'primary'})
  public theme!: string;

  @Prop()
  public size!: string;

  @Prop()
  public dismissible!: any;

  @Prop({default: false})
  public icon!: boolean;

  @Prop({ default: true })
  public show!: boolean;

  get isDismissible() {
    return this.dismissible != null;
  }

  get classes() {
    const theme = this.$style[this.theme]
      ? this.$style[this.theme]
      : `alert-${this.theme}`;

    return {
      [this.$style.Alert as string]: true,
      [theme as string]: !!this.theme,
      ['alert-dismissible']: this.isDismissible,
    };
  }

  get iconClass() {
    switch (this.theme) {
      case 'danger':
      case 'danger-bold':
        return 'mdi-alert-circle-outline';
    }
  }

  public close() {
    this.$emit('update:show', false);
  }
}
</script>

<style lang="sass" module>
  .Alert
    display: flex
    align-items: center
    margin-bottom: 0

  .danger-bold
    +alert-variant($brand-color-danger, $brand-color-danger, $brand-color-text-on-danger)

  .success-bold
    +alert-variant($brand-color-success, $brand-color-success, $brand-color-success-text)

  .content
    flex-grow: 1

  .icon
    font-size: 24px
    line-height: normal
    padding-right: 1.25rem
</style>
