<template lang="pug">
  .AlertLink
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'AlertLink',
})
export default class AlertLinkComponent extends Vue {
}
</script>

<style lang="sass">
</style>
