<template lang="pug">
  span( class="svg-icon", :class="$style.trophy" )
    svg(
      class="svg-icon",
      xmlns='http://www.w3.org/2000/svg',
      :width='width',
      :height='height',
      viewBox='0 0 20 20',
      fill='none',

      v-on="$listeners",
      v-bind="$attrs"
    )
      path(
        :fill='color',
        fill-rule='evenodd',
        clip-rule='evenodd',
        d='M18.2002 0H17.5H16C15.0996 0 14 1 14 2H6C6 1 4.90039 0 4 0H2.5H1.7998H0V9C0 10 1 11 2 11H4.2002C4.59961 13 5.90039 14.7 9 15V17.1C6.7998 17.3 6 18.4 6 19.7V20H14V19.7C14 18.4 13.2002 17.3 11 17.1V15C14.0996 14.7 15.4004 13 15.7998 11H18C19 11 20 10 20 9V0H18.2002ZM2 9V2H4V4V9H2ZM16 9H18V2H16V4V9Z',
      )
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator';
import common from './common';


@Component({
  name: 'trophy',
})
export default class trophyComponent extends Mixins(common) {
}
</script>

<style lang="sass" module>
  .trophy
</style>
