<template lang="pug">
  div( :class="$style.FilesDashboard" )
    ul( v-if="value.length", :class="$style.list" )
      li( v-for="file in value", :class="$style.item", :key="file.uploaded.id" v-if="file.uploaded && !file.vufile" )
        div( :class="$style.iconContainer" )
          FilePreviewUploaded( :img="file.uploaded.file_url" )
        div( :class="$style.description" )
          span( v-if="file.error" ) {{ file.error }}
          span( v-else-if="file.success" ) Успешно загружен
          span( v-else-if="!file.loading" ) {{ file.uploaded.file_name }} | {{ file.uploaded.size }} bytes
          span( v-else ) Загрузка...
        div( :class="$style.action" )
          Button( @click="remove(file)" )
            i( class="mdi mdi-close" )

      li( v-for="file in value", :class="$style.item", :key="file.vufile.file.id" v-if="file.vufile" )
        div( :class="$style.iconContainer" )
          FilePreview( :file="file.vufile.file" )
        div( :class="$style.description" )
          span( v-if="file.error" ) {{ file.error }}
          span( v-else-if="file.success" ) Успешно загружен
          span( v-else-if="!file.loading" ) {{ file.vufile.file.name }} | {{ file.vufile.file.size }} bytes
          span( v-else ) Загрузка...
        div( :class="$style.action" )
          Button( @click="remove(file)" )
            i( class="mdi mdi-close" )

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Button from '@/views/components/forms/buttons/Button.vue';
import FilePreview from '@/views/components/content/FilePreview.vue';
import FilePreviewUploaded from '@/views/components/content/FilePreviewUploaded.vue';
import {File} from '@/services/Models/File.js';

export interface InternalFile {
  vufile: VUFile | null;
  uploaded: File | null;
  loading: boolean;
  success: boolean;
  error: string;
}

@Component({
  name: 'FilesDashboard',
  components: {
    Button,
    FilePreview,
    FilePreviewUploaded,
  },
})
export default class FilesDashboardComponent extends Vue {
  @Prop()
  public value!: InternalFile[];

  public remove(file: InternalFile) {
    const valueCopy = Array.from(this.value);
    const index = valueCopy.indexOf(file);

    valueCopy.splice(index, 1);

    this.$emit('input', valueCopy);
  }
}
</script>

<style lang="sass" module>
  .FilesDashboard

  .list
    list-style: none
    padding: 0

  .item
    display: flex
    align-items: center

  .iconContainer
    width: 48px
    height: 48px
    line-height: 48px
    font-size: 0
    text-align: center
    > img
      max-width: 100%
      max-height: 100%

  .description
    padding-left: 24px
    flex-grow: 1

  .action
</style>
