<template lang="pug">
  div( :class="classes" )
    p( class="d-none d-lg-block" ) Перетащите файлы сюда или
    Button( type="label", :for="id", theme="outline", size="xlg" ) Выберите файл
    VueUpload(
      v-bind="$attrs",
      v-on="$listeners",
      :value="value",
      @input="$emit('input', $event)",
      :input-id="id",
      :multiple="true",
      :drop="true",
      :drop-directory="false",
      :directory="false",
      ref="upload"
    )
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import VueUpload from 'vue-upload-component';
import nanoid from 'nanoid';
import Button from '@/views/components/forms/buttons/Button.vue';

@Component({
  name: 'UploadArea',
  components: {
    VueUpload,
    Button,
  },
  inheritAttrs: false,
})
export default class UploadAreaComponent extends Vue {
  public id: string = nanoid();
  public dropActive: boolean = false;
  public unwatchDragActive!: () => void;

  @Prop()
  public value!: VUFile[];

  get classes() {
    const list = [this.$style.UploadArea];

    if (this.dropActive) {
      list.push(this.$style.dragActive);
    }

    return list;
  }

  public mounted() {
    const watcherCb = (value: boolean) => {
      this.dropActive = value;
    };

    this.unwatchDragActive = this.$watch(() => {
      const upload = this.$refs.upload as VueUpload;

      return upload.dropActive;
    }, watcherCb, { immediate: true });
  }

  public beforeDestroy() {
    this.unwatchDragActive();
  }
}
</script>

<style lang="sass" module>
  .UploadArea
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    +media-breakpoint-up(lg)
      border-radius: 4px
      background-color: $brand-color-upload-background
      height: 216px
      border: 1px dashed $brand-color-upload-border
      &.dragActive
        background-color: darken($brand-color-upload-background, 10%)
</style>
