.main-background
  background-color: $brand-color-background-color
  background-image: url("/img/background.svg")
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  &.has-no-image
    background-image: none
