<template lang="pug">
  #app.is-fullheight
    transition(
      name="fade"
      mode="out-in"
    )
    router-view
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'AppRoot',
  // VueMeta
  metaInfo: {
    title: 'Главная', // set a title
    titleTemplate: '%s - Банк идей ТМХ',
    htmlAttrs: {
      lang: 'en',
    },
  },
})
export default class AppRoot extends Vue {

}
</script>

// Main styles
<style src="@mdi/font/css/materialdesignicons.css"></style>
<style src="vue-loaders/dist/vue-loaders.css"></style>
<style src="modori/css/all.css"></style>

<style lang="sass" src="@/assets/sass/App.sass"></style>



