<template lang="pug">
  div( :class="$style.Footer" )
    .container
      div( :class="$style.content" )
        div( m-pd="0.25v" ) © Банк идей, 2018
        div
          img( src="/img/2050white.svg", alg="2050" )
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Footer',
})
export default class FooterComponent extends Vue {
}
</script>

<style lang="sass" module>
  .Footer
    min-height: 80px
    padding: 30px 0
    background-color: $brand-color-base-3
  .content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: #ffffff
    font-size: 14px
    line-height: 20px
    +media-breakpoint-up(lg)
      flex-direction: row
      justify-content: space-between
</style>
