<template lang="pug">
  div( :class="$style.Header" )
    .container
      div( :class="$style.content" )
        div( :class="$style.left" )
          router-link( :class="$style.logoWithText", to="/" )
            LogoWithText( :class="$style.logo" )
        div( :class="$style.middle" )
          div( v-if="importantUserRoles.length > 1 || isUserRoleAdministrator", :class="$style.panelButton", m-mr="0.5hg" )
            UnderlinedContainer( full-height, centered, :active="isUrl(['/admins/ideas', '/moderation', '/admins/users', '/expertise'])" )
              b-dropdown( variant="link", class="d-none d-lg-inline-block" :class="$style.ControlPanel" )
                template( slot="button-content" )
                  span( :class="$style.title" ) Панель управления
                DropdownItem( @click="page('/admins/ideas')" v-if="isUserRoleAdministrator")
                  span Все заявки
                DropdownItem( @click="page('/moderation')" v-if="isUserRoleModerator")
                  span Модерация
                DropdownItem( @click="page('/admins/users')" v-if="isUserRoleAdministrator")
                  span Управление пользователями
                DropdownItem( @click="page('/expertise')" v-if="isUserRoleExpert")
                  span Экспертиза

            UnderlinedContainer( full-height, centered, :active="isUrl(['/my-ideas'])" )
              Button( theme="little-plain", type="router-link", to="/my-ideas", class="d-none d-lg-inline-block" ) Мои заявки
            UnderlinedContainer( full-height, centered, :active="isUrl(['/create-idea'])" )
              Button( theme="little-primary", type="router-link", to="/create-idea", class="d-none d-lg-inline-block" ) Подать заявку

          div( v-else, class="d-none d-lg-flex is-fullheight", m-mr="0.5hg" )
            UnderlinedContainer( full-height, centered, :active="isUrl(['/admins/ideas'])" )
              Button( theme="little-plain", type="router-link", to="/admins/ideas", class="d-none d-lg-inline-block" v-if="isUserRoleAdministrator") Все заявки
            UnderlinedContainer( full-height, centered, :active="isUrl(['/moderation'])" )
              Button( theme="little-plain", type="router-link", to="/moderation", class="d-none d-lg-inline-block" v-if="isUserRoleModerator") Модерация
            UnderlinedContainer( full-height, centered, :active="isUrl(['/expertise'])" )
              Button( theme="little-plain", type="router-link", to="/expertise", class="d-none d-lg-inline-block" v-if="isUserRoleExpert") Экспертиза
            UnderlinedContainer( full-height, centered, :active="isUrl(['/my-ideas'])" )
              Button( theme="little-plain", type="router-link", to="/my-ideas", class="d-none d-lg-inline-block" ) Мои заявки
            UnderlinedContainer( full-height, centered, :active="isUrl(['/create-idea'])" )
              Button( theme="little-primary" type="router-link", to="/create-idea", class="d-none d-lg-inline-block" ) Подать заявку

        div( v-if="isUserAuth", :class="$style.right", m-mr="0.5hg" )
          MobileMenuToggler( v-model="isMobileMenuOpen", class="d-lg-none" )
          b-dropdown(
            variant="link",
            class="d-none d-lg-inline-block",
            no-caret,
            offset="-160",
            @shown="notificationPanelShown = true",
            @hidden="notificationPanelShown = false"
          )
            template( slot="button-content" )
              Button( theme="plain", :class="[$style.notificationPanelToggler, notificationPanelShown ? $style.isShown : null]" )
                i( class="mdi mdi-bell-outline" )
            div( :class="$style.notifications" )
              Notifications( :list="notificationsViewData", @close="onCloseNotification" )
          b-dropdown( variant="link", class="d-none  d-lg-inline-block" )
            template( slot="button-content" )
              div( m-di="inbl" )
                div( class="d-none d-lg-block" )
                  UserPreview( :user="userViewData", only-avatar )
                div( class="d-lg-none"  )
                  UserPreview( :user="userViewData", only-avatar )
            div( :class="$style.userInfo")
              div( :class="$style.userInfoName") {{ userViewData.fullName }}
              div( :class="$style.userInfoDescription") Баллы: {{ userViewData.score }}
            b-dropdown-divider
            DropdownItem( mdi-icon="account-outline", @click="page('/profile')" )
              span Профиль
            DropdownItem( mdi-icon="star-outline", @click="page('/my-rating')" )
              span Рейтинг
            b-dropdown-divider
            DropdownItem( mdi-icon="exit-to-app", @click="logout" )
              span Выйти
        div( v-else, :class="$style.right", m-mr="0.5hg" )
          Button( v-if="!isUrl(['/login'])", theme="outline", type="router-link", to="/login" ) Вход
          Button( v-if="!isUrl(['/registration'])", theme="outline", type="router-link", to="/registration" class="d-none d-md-inline-block" ) Регистрация

    MobileMenu( v-model="isMobileMenuOpen", top-offset="65px", class="d-lg-none" )
      template( slot-scope="{ close }" )
        div( :class="$style.mobileMenuContainer" )
          div( :class="$style.mobileMenuAvatarContainer" )
            UserPreview( :user="userViewData", block, theme="white" )
            b-dropdown-divider( m-mr="2v!" )
          div( :class="$style.mobileMenuItemsContainer", m-mr="0.5vg" )
            DropdownItem( v-if="isUserRoleModerator", theme="white", @click="page('/moderation'), close()" )
              span Ожидает модерации
            DropdownItem( v-if="isUserRoleAdministrator", theme="white", @click="page('/admins/users'), close()" )
              span Управление пользователями
            DropdownItem( theme="white", @click="page('/my-ideas'), close()" )
              span Мои заявки
            Button( theme="white", block, @click="page('/create-idea'), close()" ) Подать заявку
            b-dropdown-divider( m-mr="2v!" )
            DropdownItem( mdi-icon="account-outline", theme="white", @click="page('/profile'), close()" )
              span Профиль
            DropdownItem( mdi-icon="star-outline", theme="white", @click="page('/my-rating'), close()" )
              span Рейтинг
            DropdownItem( mdi-icon="star-outline", theme="white", @click="page('/notifications'), close()" )
              span Уведомления
              |
              span( v-if="notifications.length" ) ({{ notifications.length }} новое)
          div( :class="$style.mobileMenuFooterContainer" )
            DropdownItem( mdi-icon="exit-to-app", theme="white", @click="logout(), close()" )
              span Выйти
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LogoWithText from '@/views/components/LogoWithText.vue';
import Button from '@/views/components/forms/buttons/Button.vue';
import MobileMenuToggler from '@/views/components/mobile-menu/Toggler.vue';
import MobileMenu from '@/views/components/mobile-menu/Menu.vue';
import UserPreview from '@/views/components/content/UserPreview.vue';
import UnderlinedContainer from '@/views/components/content/UnderlinedContainer.vue';
import DropdownItem from '@/views/components/forms/DropdownItem.vue';
import Notifications, { NotificationItem } from '@/views/components/content/Notifications.vue';
import { namespace } from 'vuex-class';
import {StateAccount} from '@/services/User/vuex/index';
import {Notification} from '../../services/User/vuex/modules/notifications';

const UserNS = namespace('user');
const UserRatingNS = namespace('user/rating');
const UserNotificationsNS = namespace('user/notifications');

@Component({
  name: 'Header',
  components:   {
    LogoWithText,
    Button,
    UserPreview,
    DropdownItem,
    MobileMenuToggler,
    MobileMenu,
    Notifications,
    UnderlinedContainer
  },
})
export default class HeaderComponent extends Vue {
  @UserNS.Getter('isAuth')
  public isUserAuth!: boolean;

  @UserNS.Getter('isRoleExpert')
  public isUserRoleExpert!: boolean;

  @UserNS.Getter('isRoleModerator')
  public isUserRoleModerator!: boolean;

  @UserNS.Getter('isRoleAdministrator')
  public isUserRoleAdministrator!: boolean;

  @UserNS.Getter('importantRoles')
  public importantUserRoles!: string[];

  @UserNS.State('account')
  public userAccountData!: StateAccount;

  @UserRatingNS.State('data')
  public userRating!: null | number;

  @UserNotificationsNS.State('list')
  public notifications!: Notification[];

  public isMobileMenuOpen: boolean = false;
  public notificationPanelShown: boolean = false;

  get userViewData() {
    if (this.isUserAuth) {
      return {
        firstName: this.userAccountData.first_name,
        lastName: this.userAccountData.last_name,
        fullName: `${this.userAccountData.first_name} ${this.userAccountData.last_name}`,
        photo: this.userAccountData.photo,
        score: this.userRating,
      };
    }
  }

  get notificationsViewData(): NotificationItem[] {
    return this.notifications
      .map((item) => {
        if (item.type === 'idea') {
          return {
            id: item.id,
            title: item.title,
            content: item.content,
            link: item.object_id == null ? '/my-ideas' : `/idea/${item.object_id}`,
            linkType: 'router-link',
          };
        } else if (item.type === 'rating') {
          return {
            id: item.id,
            title: item.title,
            content: item.content,
          };
        }
      })
      .filter(Boolean) as NotificationItem[];
  }

  @UserNotificationsNS.Action('markAsViewed')
  public markAsViewed!: (payload: { id: string, userId: string }) => Promise<void>;

  public async logout() {
    await this.$services.User.logout();
  }

  public page(url: string) {
    this.$router.push(url);
  }

  public isUrl(urls: string[]) {
    return urls.includes(this.$route.path);
  }

  public async onCloseNotification(id: string) {
    await this.markAsViewed({id, userId: this.$services.User.id()});
  }
}
</script>

<style lang="sass" module>
  .Header
    background: $brand-color-header-background
    border-bottom: 1px solid $brand-color-break-line

  .content
    display: flex
    align-items: center
    justify-content: space-between
    height: 64px
    padding: 0 10px

  .left

  .right

  .middle
    flex-grow: 1
    text-align: center
    height: 100%
    display: flex
    justify-content: space-around
    align-items: center

  .logoWithText
    display: inline-block
    vertical-align: top
    height: 42px
    > .logo
      width: 100%
      height: 100%

  .panelButton
    height: 100%
    display: none
    +media-breakpoint-up(lg)
      display: flex

  .ControlPanel
    height: 100%
    button
      height: 100%
    .title
      font-family: $brand-font-family-fira-sans-sans-serif
      text-transform: uppercase
      font-weight: 500
      font-size: 0.8rem


  .mobileMenuContainer
    display: flex
    flex-direction: column
    height: 100%
    padding: 16px
    color: #ffffff

  .mobileMenuAvatarContainer
    flex-grow: 0
    padding-top: 24px

  .mobileMenuItemsContainer
    flex-grow: 1

  .mobileMenuFooterContainer
    padding-top: 12px
    flex-grow: 0

  .mobileMenuItem
    color: #ffffff

  .notificationPanelToggler
    padding-left: 0.375rem
    padding-right: 0.375rem
    font-size: 20px
    color: #dadada
    &.isShown
      color: $brand-color-link

  .notifications
    width: 370px

  .userInfo
    padding: 0.25rem 3rem 0.25rem 1.5rem
  .userInfoName
    font-weight: bold
    white-space: nowrap
  .userInfoDescription
    font-size: 0.8rem
</style>
