<template lang="pug">
  div( :class="$style.LogoWithText" )
    img( src="/img/logoWithText_v2.svg" )
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'LogoWithText',
})
export default class LogoWithTextComponent extends Vue {
}
</script>

<style lang="sass" module>
  .LogoWithText
    display: inline-block
    line-height: 0
    font-size: 0
    > img
      max-width: 100%
      max-height: 100%
</style>
