<template lang="pug">
  .l-root.is-footer-sticky
    header.l-header
      Header
    main.l-content.main-background.has-no-image
      transition(
      name="fade"
      mode="out-in"
      )
        keep-alive
          router-view
    footer.l-footer
      Footer
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from '@/views/components/Header.vue';
import Footer from '@/views/components/Footer.vue';


@Component({
  name: 'InnerPagesWithFooterTemplate',
  components: {
    Header,
    Footer,
  },
})
export default class InnerPagesWithFooterTemplate extends Vue {

}
</script>

<style lang="sass">
</style>
