<template lang="pug">
  .l-root.is-footer-sticky
    header.l-header
      Header
    main.l-content.main-background
      transition(
      name="fade"
      mode="out-in"
      )
        keep-alive
          router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from '@/views/components/Header.vue';


@Component({
  name: 'InnerPagesDefaultTemplate',
  components: {
    Header,
  },
})
export default class InnerPagesDefaultTemplate extends Vue {
}
</script>

<style lang="sass">
</style>
